{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "carts/css/styles.css" %}" />
  <link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />
{% endblock %}

{% block section_title %}{% trans "Create your subscription" %}{% endblock %}

{% block content %}
  <h1>Créez votre abonnement Végéclic</h1>

  <hr/>

  <div class="well">
    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-success" style="width: {{wizard.form.progress_value|stringformat:"d"}}%"></div>
      <div class="progress-bar progress-bar-info" style="width: {{wizard.form.current_progress_value|stringformat:"d"}}%"></div>
      <div class="progress-bar progress-bar-warning" style="width: {{wizard.form.inverse_progress_value|stringformat:"d"}}%"></div>
    </div>

    <div class="row text-center">

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'cart' %}btn-info popover_link{% elif wizard.form.step_idx >= 0 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Choix du panier" data-content="Choisissez parmis les paniers thématiques prédéfinis ou créer votre panier personnalisé." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-th"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'subscription' %}btn-info popover_link{% elif wizard.form.step_idx >= 1 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Configuration de l'abonnement" data-content="Définissez la durée et fréquence de votre abonnement ainsi que le moyen de livraison." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-wrench"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'products' %}btn-info popover_link{% elif wizard.form.step_idx >= 2 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Choix des familles de produits" data-content="Choisissez les familles de produits que vous souhaitez avoir dans votre panier." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-list"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'extents' %}btn-info popover_link{% elif wizard.form.step_idx >= 3 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Proportions des produits" data-content="Définissez la proportion que doit avoir chacune des familles de produits." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-sort"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'suppliers' %}btn-info popover_link{% elif wizard.form.step_idx >= 4 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Sélection des articles" data-content="Sélectionnez les articles de nos fournisseurs relatifs aux familles choisis précédemment." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-check"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'preview' %}btn-info popover_link{% elif wizard.form.step_idx >= 5 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Aperçu du contenu du panier" data-content="Verifier le contenu de votre abonnement avant de continuer." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-eye-open"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'authentication' %}btn-info popover_link{% elif wizard.form.step_idx >= 6 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Identification" data-content="Connectez-vous ou inscrivez-vous. C'est très simple !" data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-user"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'payment' %}btn-info popover_link{% elif wizard.form.step_idx >= 7 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Paiement" data-content="Procédez au paiement de la première échéance ou de la durée totale de votre abonnement." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-credit-card"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'address' %}btn-info popover_link{% elif wizard.form.step_idx >= 8 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Coordonnées" data-content="Nous avons besoin de vos coordonnées pour la livraison et facturation." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-home"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'comment' %}btn-info popover_link{% elif wizard.form.step_idx >= 9 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Commentaire" data-content="Si vous avez une suggestion ou une remarque quelconque n'hesitez pas à l'indiquer ici." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-comment"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'resume' %}btn-info popover_link{% elif wizard.form.step_idx >= 10 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Aperçu avant validation" data-content="Dernière verification avant la création de votre abonnement." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-asterisk"></i></button></div>

      <div class="col-md-1"><button class="btn btn-lg {% if wizard.steps.current == 'validation' %}btn-info popover_link{% elif wizard.form.step_idx >= 11 %}btn-success{% else %}btn-warning{% endif %} tooltip_link" title="Validation" data-content="Votre abonnement a bien été crée." data-placement="bottom" data-container="body"><i class="glyphicon glyphicon-saved"></i></button></div>

    </div>

  </div>

  <form role="form" method="post" action="{% url "create_all" %}">
    {% csrf_token %}

    <hr/>

    {% block sub_content %}{% endblock %}

    <hr/>

    {{ wizard.management_form.as_p }}

    <div class="form-group row" id="buttons">
      <div class="col-md-6">
	<button class="btn btn-lg btn-primary btn-block" type="submit" title="Cliquez ici pour confirmer et passer à l'étape suivante.">{% trans "Next" %}</button>
      </div>
      <div class="col-md-6">
	<button class="btn btn-lg btn-default btn-block {% if not wizard.steps.prev %}disabled{% endif %}" name="wizard_goto_step" type="submit" title="Cliquez ici pour revenir à l'étape précédente." value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block foot %}
  <script type="text/javascript">
    $(function() {
	$('.popover_link').popover('show');
    });
  </script>

  <style type="text/css">
    #buttons { overflow: hidden }
    #buttons .col-md-6 { float: right }
  </style>

  {% block sub_foot %}{% endblock %}
{% endblock %}
