{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "carts/css/styles.css" %}" />
  <link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />
{% endblock %}

{% block section_title %}
  {% with c=wizard.steps.current %}
  {% if c == "cart" %}Créez votre panier Végéclic{% elif c == "subscription" %}Configuration de l'abonnement{% elif c == "products" %}Choix des familles de produits{% elif c == "extents" %}Proportions des produits{% elif c == "suppliers" %}Sélection des articles{% elif c == "preview" %}Aperçu du contenu du panier{% elif c == "authentication" %}Identification{% elif c == "payment" %}Paiement{% elif c == "address" %}Coordonnées{% elif c == "comment" %}Commentaire{% elif c == "resume" %}Aperçu avant validation{% elif c == "validation" %}Abonnement n° <strong>{{object.id}}</strong> crée{% endif %}
  {% endwith %}
{% endblock %}

{% block content %}

  {% with c=wizard.steps.current i=wizard.form.step_idx progress_value=wizard.form.progress_value current_progress_value=wizard.form.current_progress_value inverse_progress_value=wizard.form.inverse_progress_value %}
  {% include "carts/create_all/header.html" %}
  {% endwith %}

  {% if not validation %}
    <form role="form" method="post" action="{% url "create_all" %}">
      {% csrf_token %}
  {% endif %}

  <hr/>

  {% block sub_content %}{% endblock %}

  {% if not validation %}
    <hr/>

    {{ wizard.management_form.as_p }}

    <div class="form-group row" id="buttons">
      <div class="col-md-6">
	<button class="btn btn-lg {% if wizard.steps.current == "resume" %}btn-success{% else %}btn-primary{% endif %} btn-block" type="submit" title="Cliquez ici pour confirmer et passer à l'étape suivante.">{% if wizard.steps.current == "resume" %}{% trans "Créer mon abonnement" %}{% else %}{% trans "Next" %}{% endif %}</button>
      </div>
      <div class="col-md-6">
	<button class="btn btn-lg btn-default btn-block {% if not wizard.steps.prev %}disabled{% endif %}" name="wizard_goto_step" type="submit" title="Cliquez ici pour revenir à l'étape précédente." value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
      </div>
    </div>
  </form>
{% endif %}

{% endblock %}

{% block foot %}
  <script type="text/javascript">
    $(function() {
	$('.popover_link').popover('show');
	setTimeout(function() { $('.popover_link').popover('hide') }, 2000);
    });
  </script>
  
      <script>
        function embedVideo2(video) { document.getElementById('embed2').innerHTML = unescape(video.html); }
        function embedVideo3(video) { document.getElementById('embed3').innerHTML = unescape(video.html); }
        
        $(function() {
            var userUrl = 'http://vimeo.com/user24937733/';
            var endpoint = 'http://www.vimeo.com/api/oembed.json';
            
            $([['abonnementthematique', 'embedVideo2'],
               ['abonnementpersonnalise', 'embedVideo3']]).each(function() {
                    var js = document.createElement('script');
                    js.setAttribute('src', endpoint + '?url=' + encodeURIComponent(userUrl + $(this)[0]) + '&callback=' + $(this)[1] + '&width=435');
                    document.getElementsByTagName('head').item(0).appendChild(js);
            });
        });
    </script>

  <style type="text/css">
    #buttons { overflow: hidden }
    #buttons .col-md-6 { float: right }
  </style>

  {% block sub_foot %}{% endblock %}
{% endblock %}
