{% extends "carts/create_all/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <div class="btn-group" data-toggle="buttons">
    {% for thematic in wizard.form.thematic_list %}
      <label class="choice btn btn-default btn-lg tooltip_link" title="{{thematic.body|truncatewords:20}}">
	<input type="radio" name="cart-choice" value="{{thematic.id}}"/>
	<img src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" style="width:215px"/>
      </label>
    {% endfor %}

    <label class="btn btn-lg btn-block"><span class="badge">ou</span></label>
    <label class="choice btn btn-default btn-lg btn-block tooltip_link" title="Personnaliser votre panier">
      <input type="radio" name="cart-choice" value="perso"/> <strong>Personnaliser</strong>
    </label>
  </div>
{% endblock %}

{% block sub_foot %}
  <script type="text/javascript">
    $(function() {
	$('.choice').change(function() {
	    $('.choice').not($(this)).each(function() {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-default');
	    });
	    $(this).removeClass('btn-default');
	    $(this).addClass('btn-success');
	});
    });
  </script>
{% endblock %}
