{% extends "carts/create_all/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="alert alert-info">
	Vous pouvez choisir votre panier à thème parmi les choix ci-dessous ou composer votre propre panier en cliquant sur l'option « Personnaliser ».
      </div>

      <div class="btn-group" data-toggle="buttons">
	{% for thematic in wizard.form.thematic_list|dictsort:'order' %}
	  <label class="choice btn {% if thematic.id|floatformat == wizard.form.choice.value|floatformat %}btn-success active{% else %}btn-default{% endif %} btn-lg tooltip_link" title="{{thematic.body|truncatewords:20}}">
	    <input type="radio" name="cart-choice" value="{{thematic.id}}" {% if thematic.id|floatformat == wizard.form.choice.value|floatformat %}checked="checked"{% endif %} />
	    <img src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" style="width:215px"/>
	  </label>
	{% endfor %}

	<label class="btn btn-lg btn-block"><span class="badge">ou</span></label>
	<label class="choice btn {% if wizard.form.choice.value == "perso" %}btn-success active{% else %}btn-default{% endif %} btn-lg btn-block tooltip_link" title="Personnaliser votre panier">
	  <input type="radio" name="cart-choice" value="perso" {% if wizard.form.choice.value == "perso" %}checked="checked"{% endif %} /> <strong>Personnaliser</strong>
	</label>
      </div>

      <br/>
      <br/>

      <div class="alert alert-info">
	<strong>Prêt ?</strong> Cliquez sur « Suivant » pour continuer.
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>

{% endblock %}

{% block sub_foot %}
  <script type="text/javascript">
    $(function() {
	$('.choice').change(function() {
	    $('.choice').not($(this)).each(function() {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-default');
	    });
	    $(this).removeClass('btn-default');
	    $(this).addClass('btn-success');
	});
    });
  </script>
{% endblock %}
