{% extends "carts/create_all/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
	<div class="panel-heading"><h4>{% trans "Montant à payer" %}</h4></div>
	<div class="panel-body text-center"><h1>{{wizard.form.price}}</h1></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
	<div class="panel-heading"><h4>{% trans "Solde disponible sur votre portemonnaie Végéclic" %}</h4></div>
	<div class="panel-body text-center"><h1>{{wizard.form.balance}} {{wizard.form.currency.symbol}}</h1></div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading"><h4>{{ form.payment_type.label }}</h4></div>
    <div class="panel-body">
      {{ form.payment_type }}
      <br/>
      <br/>
      {% include "carts/create_all/payment_types.html" %}
    </div>
    {% if form.payment_type.help_text %}
      <div class="panel-footer">{{ form.payment_type.help_text }}</div>
    {% endif %}
  </div>

{% endblock %}

{% block sub_foot %}
  <script type="text/javascript">
    $(function() {
	$('.payment_type_detail').hide();

	$('.radio-select').each(function() {
	    if ($(this)[0].checked) {
		$(this).parent().addClass('active');
		$('#payment_type_' + $(this).val()).show();
	    }
	    if ($(this).hasClass('disabled')) {
		$(this).parent().addClass('disabled');
	    }
	});

	$('.radio-select').change(function() {
	    $('.payment_type_detail').hide();
	    $('#payment_type_' + $(this).val()).show();
	});
    });
  </script>
{% endblock %}
