{% extends "carts/create_all/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  {% with symbol=price.currency.symbol receive_only_once=object.receive_only_once %}
    <div class="row">
      <div class="col-md-1">
	<div class="alert alert-success text-center">
	  <span class="glyphicon glyphicon-thumbs-up" style="font-size:22px"></span>
	</div>
      </div>
      <div class="col-md-11">
	<div class="alert alert-success">
	  <p class="lead">Votre nouvel abonnement n° <strong>{{object.id}}</strong> a été crée avec succès.</p>
	</div>
      </div>
    </div>

    {% if not payed_deliveries %}
      <div class="row">
	<div class="col-md-1">
	  <div class="alert alert-info text-center">
	    <span class="glyphicon glyphicon-credit-card" style="font-size:22px"></span>
	  </div>
	</div>
	<div class="col-md-11">
	  <div class="alert alert-info">
	    <p class="lead">Si vous n'avez pas encore procéder au paiement de ce dernier afin que la prochaine échéance soit validé par nos soins, nous vous invitons, dès maintenant, à procéder au paiement en suivant les consignes données ci-dessous.</p>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-md-{% if not receive_only_once %}6{% else %}12{% endif %}">
	  <div class="panel panel-success">
	    <div class="panel-heading"><h2>{% trans "Montant à payer" %}</h2></div>
	    <div class="panel-body text-center text-success"><h1>{{total_amount|stringformat:".2f"}} {{symbol}}</h1></div>
	    <div class="panel-footer">Montant à payer après déduction du solde de votre compte</div>
	  </div>
	</div>
	{% if not receive_only_once %}
	<div class="col-md-6">
	  <div class="panel panel-info">
	    <div class="panel-heading"><h2>{% trans "Prix moyen / échéance" %}</h2></div>
	    <div class="panel-body text-center text-info"><h1>{{mean|stringformat:".2f"}} {{symbol}}</h1></div>
	    <div class="panel-footer">Prix moyen calculé sur le nombre d'échéances payés</div>
	  </div>
	</div>
	{% endif %}
      </div>

      <div class="panel panel-info">
	<div class="panel-heading"><h2>Type de paiement</h2></div>
	<div class="panel-body">
	  <div class="btn-group" data-toggle="buttons">
	    {% for k,v in payment_types %}
	      <label class="btn btn-default btn-lg {% if payment_type == k %}active{% endif %}"><input {% if payment_type == k %}checked="checked"{% endif %} class="radio-select" name="payment-payment_type" type="radio" value="{{k}}" /> {{v}}</label>
	    {% endfor %}
	  </div>
	  <br/>
	  <br/>
	  {% with cheque_amount=mean %}
	    {% include "carts/create_all/payment_types.html" %}
	  {% endwith %}
	</div>
      </div>
    {% endif %}

  {% endwith %}
{% endblock %}

{% block sub_foot %}
  <script type="text/javascript">
    $(function() {
	$('.payment_type_detail').hide();

	$('.radio-select').each(function() {
	    if ($(this)[0].checked) {
		$(this).parent().addClass('active');
		$('#payment_type_' + $(this).val()).show();
	    }
	    if ($(this).hasClass('disabled')) {
		$(this).parent().addClass('disabled');
	    }
	});

	$('.radio-select').change(function() {
	    $('.payment_type_detail').hide();
	    $('#payment_type_' + $(this).val()).show();
	});
    });
  </script>

  <style type="text/css">
    .ui-slider .ui-slider-handle { height: 2.7em; }
    .ui-slider { height: 2.2em; }
  </style>
{% endblock %}
