[submodule "jquery"]
	path = static/jquery
	url = git://github.com/components/jquery.git

[submodule "jqueryui"]
	path = static/jqueryui
	url = git://github.com/components/jqueryui.git

[submodule "bootstrap"]
	path = static/jqueryui
	url = git://github.com/components/bootstrap.git
