{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "carts/css/styles.css" %}" />
  {% block sub_head %}{% endblock %}
{% endblock %}

{% block section_title %}{% trans "Cart" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <div class="well sidebar-nav">
	<ul class="nav nav-pills nav-stacked">
	  <li {% if sub_section == "create_thematic" %}class="active"{% endif %}>
	    <a href="{% url "create_thematic" %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Create a thematic cart" %}</a>
	  </li>

	  <li {% if sub_section == "create_custom" %}class="active"{% endif %}>
	    <a href="{% url "create_custom" %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Create a custom cart" %}</a>
	  </li>

	  <li {% if not sub_section or sub_section == "subscriptions" %}class="active"{% endif %}>
	    <a href="{% url "subscriptions" 1 %}"><i class="glyphicon glyphicon-shopping-cart"></i> {% trans "Subscriptions" %}</a>
	  </li>

	  <li {% if sub_section == "deliveries" %}class="active"{% endif %}>
	    <a href="{% url "deliveries" 1 %}"><i class="glyphicon glyphicon-calendar"></i> {% trans "Deliveries" %}</a>
	  </li>

	  <li {% if section == "catalog" %}class="active"{% endif %}>
	    <a href="{% url "catalog_grid_page" 1 %}"><i class="glyphicon glyphicon-barcode"></i> {% trans "Catalog" %}</a>
	  </li>
	</ul>
      </div>
    </div>

    <div class="col-md-9">
      {% block sub_content %}{% endblock %}
    </div>
  </div> <!--/.row-fluid -->
{% endblock %}
