{% extends "carts/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_head %}
  <link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />
{% endblock %}

{% block sub_content %}
  <h2>{% if thematic %}{% trans "Create a thematic cart" %}{% else %}{% trans "Create a custom cart" %}{% endif %}</h2>

  <form role="form" method="post" action="{% if thematic %}{% url "create_thematic_id" thematic.pk %}{% else %}{% url "create_custom" %}{% endif %}">
    {% csrf_token %}

    {#<h3 class="cart-form-heading well">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>#}

    {% if wizard.steps.current == '0' %}
      <div class="media alert alert-info">
	{% if thematic %}
	  <div class="pull-left">
	    <img class="img-thumbnail" src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" title="{{thematic.name}}" style="width:200px; height:160px; display: block;"/>
	  </div>
	{% endif %}

	<div class="body">
	  {% if thematic %}
	    {% blocktrans with name=thematic.name %}
	      <h4>Ready to create your new {{name}} thematic cart ?</h4>
	    {% endblocktrans %}
	  {% else %}
	    {% blocktrans %}
	      <h4>Ready to create your new custom cart ?</h4>
	    {% endblocktrans %}
	  {% endif %}

	  {% blocktrans %}
	    <p>Be free to choice below the size of your cart as well as its frequency and duration. You can even push the beginning week of your subscription to your convenience.</p>
	  {% endblocktrans %}
	</div>
      </div>

      {% with tname="carts/one_slide.html" %}
	{% with id="0-size" field=wizard.form.size style="success" %}{% include tname %}{% endwith %}
      {% endwith %}

      <div class="form-group">
	<div data-toggle="buttons">
	  <label id="expend_duration" class="btn btn-lg btn-block tooltip_link {% if not thematic.receive_only_once %}btn-danger{% else %}btn-success active{% endif %}" title="{% trans "Click here if you want to receive your cart only once" %}" data-toggle="collapse" data-target="#display_duration">
	    <i class="glyphicon glyphicon-{% if not thematic.receive_only_once %}unchecked{% else %}check{% endif %}"></i>
	    {{ wizard.form.receive_only_once }} {{ wizard.form.receive_only_once.label }}
	  </label>
	</div>
      </div>

      {% with tname="carts/one_slide.html" %}
	<div id="display_duration" class="collapse {% if not thematic.receive_only_once %}in{% else %}out{% endif %}">
	  {% with id="0-frequency" field=wizard.form.frequency style="info" %}{% include tname %}{% endwith %}
	  {% with id="0-duration" field=wizard.form.duration style="warning" %}{% include tname %}{% endwith %}
	</div>
	{% with id="0-start" field=wizard.form.start style="danger" %}{% include tname %}{% endwith %}
      {% endwith %}

      <div class="panel panel-default">
	<div class="panel-heading"><h4>{{ wizard.form.criterias.label }}</h4></div>
	<div class="panel-body">{{ wizard.form.criterias }}</div>
	<div class="panel-footer">{{ wizard.form.criterias.help_text }}</div>
      </div>

      <div class="panel panel-info">
	<div class="panel-heading"><h4>{{ wizard.form.carrier.label }}</h4></div>
	<div class="panel-body">
	  {{ wizard.form.carrier }}
	  <br/>
	  <br/>
	  <div class="well">
	    {% for carrier in wizard.form.carriers %}
	      <div class="carrier_detail" id="carrier_{{carrier.id}}">
		<h3>{{carrier.name}}</h3>
		<p>{{carrier.body}}</p>
	      </div>
	    {% endfor %}
	  </div>

	  <div class="well">
	    <p>Ci-dessous la proportion des frais de port inclus dans le prix de votre panier pour ce moyen de livraison :</p>

	    <div class="progress progress-striped">
	      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
	      <div class="progress-bar progress-bar-warning" style="width: 0%"></div>
	    </div>

	    <span class="label label-success">Produits</span>
	    <span class="label label-warning">Frais de port</span>
	  </div>
	</div>
	{% if wizard.form.carrier.help_text %}
	  <div class="panel-footer">{{ wizard.form.carrier.help_text }}</div>
	{% endif %}
      </div>

      <div class="form-group">
	<div data-toggle="buttons">
	  <label id="expend_products" class="btn btn-lg {% if thematic %}btn-danger{% else %}btn-success active{% endif %} btn-block tooltip_link" title="{% trans "customize your cart content" %}" data-toggle="collapse" data-target="#display_products">
	    <i class="glyphicon glyphicon-{% if thematic %}unchecked{% else %}check{% endif %}"></i>
	    {{ wizard.form.customized }} {{ wizard.form.customized.label }}
	  </label>
	</div>
      </div>

      <div class="alert alert-info">
	Vous pouvez personnaliser votre abonnement en choisissant des familles ou sous-familles de produits que vous souhaitez retrouver dans vos paniers.
      </div>

      <div class="panel panel-success collapse {% if thematic %}out{% else %}in{% endif %}" id="display_products">
	<div class="panel-heading"><h4>{% trans "Products" %}</h4></div>
	<div class="panel-body">
	  <div class="alert alert-info">
	    Pour choisir une famille de produits, cliquez simplement sur « ajouter ». Après validation, vous serrez invité à définir les proportions de chacun de vos produits.
	    Il vous est possible d'affiner votre sélection en dépliant les familles de produits.
	    Une liste de sous-familles apparaîtra, il vous suffira alors d'ajouter ceux que vous souhaitez.
	  </div>

	  <div class="alert alert-warning">
	    Le choix d'un produit spécifique au sein d'une famille de produit sera <strong>prochainement disponible</strong>.
	  </div>

	  <ul class="media-list">
	    {% for product, products in wizard.form.products_tree %}
	      {% with product=product thematic_products=wizard.form.thematic_products products=products %}
		{% include "carts/products_tree.html" %}
	      {% endwith %}
	    {% endfor %}
	  </ul>
	</div>
      </div>

    {% elif wizard.steps.current == '1' %}

      <div class="media alert alert-info">
	{% if thematic %}
	  <div class="pull-left">
	    <img class="img-thumbnail" src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" title="{{thematic.name}}" style="width:200px; height:160px; display: block;"/>
	  </div>
	{% endif %}

	<div class="body">
	  {% if thematic %}
	    {% blocktrans with name=thematic.name %}
	      <h4>Ready to create your new {{name}} thematic cart ?</h4>
	    {% endblocktrans %}
	  {% else %}
	    {% blocktrans %}
	      <h4>Ready to create your new custom cart ?</h4>
	    {% endblocktrans %}
	  {% endif %}

	  {% blocktrans %}
	    <p>Vous pouvez maintenant déterminer la proportion souhaitée pour chaque produit en déplaçant les jauges respectives. Pour verrouiller ou déverrouiller une jauge, cliquez sur le l'icone du verrou correspondant. Pour équilibrer les jauges, cliquez sur « équilibrer ». Une fois les proportions déterminées, vous pouvez finaliser la création de votre abonnement en cliquant sur « Confirmer ».</p>
	  {% endblocktrans %}
	</div>
      </div>

      <div id="sliders">
        {% for product, extent in wizard.form.selected_products %}
	  <div class="form-group">
	    <label>{{ product }}</label>
	    <div class="row">
	      <div class="col-md-2">
		<button type="button" class="btn btn-link tooltip_link lock" data-toggle="button" title="{% trans "lock" %} {{product}}"><i class="glyphicon glyphicon-lock"></i></button>
	      </div>
              <div class="col-md-9 slider"></div>
              <div class="col-md-1 value_content"><span class="value">{{ extent }}</span> %</div>
	      <input type="hidden" name="product_{{ product.id }}" class="input_value" value="{{ extent }}"/>
	    </div>
	  </div>
	{% endfor %}
	{# <span id="sliders_total">100</span> #}
      </div>

      <div class="alert alert-warning">
	Si vous choisissez des proportions trop petites, assurez-vous que le montant de la taille de votre panier est suffisant au risque de ne pas retrouver ces familles de produits dans votre panier.
	Si vous souhaitez désactiver une famille de produit, choisissez une proportion à « 0 % ».
      </div>
    {% endif %}

    {{ wizard.management_form.as_p }}
    {% comment %}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form.as_p }}
      {% for form in wizard.form.forms %}
        {{ form.as_p }}
      {% endfor %}
    {% else %}
      {{ wizard.form.as_p }}
    {% endif %}
    {% endcomment %}

    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit" %}</button>
    </div>
    <div class="form-group row">
      {% if wizard.steps.prev %}
	{% comment %}
	  <button class="btn btn-lg" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
	{% endcomment %}
	<div class="col-md-6"><button class="btn btn-default btn-lg btn-block" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button></div>
      {% endif %}
      {% if wizard.steps.current == '1' %}
	<div class="col-md-6"><a class="btn btn-default btn-lg btn-block" id="balance">{% trans "balance" %}</a></div>
      {% endif %}
    </div>
  </form>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.core.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.widget.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.mouse.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.slider.js" %}"></script>
  <script type="text/javascript" src="{% static "carts/js/slider.js" %}"></script>

  <script type="text/javascript">
    $(function() {
	$('.expend_button').click(function() {
	    i = $(this).find('i');
	    if ( i.hasClass('glyphicon-collapse-down') ) {
		i.removeClass('glyphicon-collapse-down');
		i.addClass('glyphicon-collapse-up');
	    } else {
		i.removeClass('glyphicon-collapse-up');
		i.addClass('glyphicon-collapse-down');
	    }
	});

	$('.add_link').click(function() {
	    if ( $(this).hasClass('btn-success') ) {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-link');
		$(this).siblings('.value')[0].value = 0;
		$(this).parent().parent().find('.media').find('.add_link').removeClass('disabled')
	    } else {
		$(this).removeClass('btn-link');
		$(this).addClass('btn-success');
		$(this).siblings('.value')[0].value = 1;
		add_links = $(this).parent().parent().find('.media').find('.add_link')
		add_links.addClass('disabled')
		add_links.removeClass('btn-success')
		add_links.addClass('btn-link');
		add_links.removeClass('active')
		add_links.siblings('.value').each(function(){ $(this)[0].value = 0; })
	    }
	});

	$('.add_link').each(function() {
	    if ( $(this).hasClass('btn-success') ) {
		$(this).parent().parent().find('.media').find('.add_link').addClass('disabled')
	    } else {
		$(this).parent().parent().find('.media').find('.add_link').removeClass('disabled')
	    }
	});

	$('#expend_products').click(function() {
	    var i = $(this).find('i');
	    if ( $(this).hasClass('btn-success') ) {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-danger');
		i.removeClass('glyphicon-check');
		i.addClass('glyphicon-unchecked');
		// $('#customized')[0].value = 0;
	    } else {
		$(this).removeClass('btn-danger');
		$(this).addClass('btn-success');
		i.removeClass('glyphicon-unchecked');
		i.addClass('glyphicon-check');
		// $('#customized')[0].value = 1;
	    }
	});

	$('#expend_duration').click(function() {
	    var i = $(this).find('i');
	    if ( $(this).hasClass('btn-danger') ) {
		$(this).removeClass('btn-danger');
		$(this).addClass('btn-success');
		i.removeClass('glyphicon-unchecked');
		i.addClass('glyphicon-check');
	    } else {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-danger');
		i.removeClass('glyphicon-check');
		i.addClass('glyphicon-unchecked');
	    }
	});

	$('.carrier_detail').hide();

	var carriers = [
	    {% for carrier in wizard.form.carriers|dictsort:'id' %}
	    [{% for level in carrier.carrierlevel_set.all %}[{{level.weight|stringformat:"f"}}, {{level.price|stringformat:"f"}}], {% endfor %}],
	    {% endfor %}
	];

	var carriers_weight_min = [{% for carrier in wizard.form.carriers|dictsort:'id' %}{{carrier.weight_min|stringformat:"f"}}, {% endfor %}];
	var sizes = [{% for size in wizard.form.sizes|dictsort:'weight' %}[{{size.weight|stringformat:"f"}}, {{size.default_price.price|stringformat:"f"}}], {% endfor %}];

	function compute_progress_bar(id) {
	    $('.radio-select').each(function() {
		var id = $(this).val();
		var weight_min = carriers_weight_min[id-1];
		var size = sizes[$('#id_0-size')[0].selectedIndex];
		var progress_bar = $('.progress-bar');

		if ( size[0] < weight_min ) {
		    progress_bar[0].style.width = "0%";
		    progress_bar[1].style.width = "100%";
		    $(this).addClass('disabled');
		} else {
		    $(this).removeClass('disabled');
		}

		if ($(this).hasClass('disabled')) {
		    $(this).parent().addClass('disabled');
		} else {
		    $(this).parent().removeClass('disabled');
		}
	    });

	    var div = $('#carrier_' + id)
	    var carrier = carriers[id-1];
	    var weight_min = carriers_weight_min[id-1];
	    var size = sizes[$('#id_0-size')[0].selectedIndex];
	    var progress_bar = $('.progress-bar');

	    if ( size[0] < weight_min ) {
		progress_bar[0].style.width = "0%";
		progress_bar[1].style.width = "100%";
	    } else if ( carrier.length ) {
		for (var i = 0; i < carrier.length; i++) {
		    if (carrier[i][0] >= size[0]) break;
		};

		var extent = parseInt(carrier[i][1]/size[1]*100)+1

		progress_bar[0].style.width = (100-extent) + "%";
		progress_bar[1].style.width = extent + "%";
	    } else {
		progress_bar[0].style.width = "100%";
		progress_bar[1].style.width = "0%";
	    }
	}

	$('.radio-select').change(function() {
	    var id = $(this).val();
	    $('.carrier_detail').hide();
	    var div = $('#carrier_' + id)
	    div.show();
	    compute_progress_bar(id);
	});

	$('.radio-select').each(function() {
	    if (!($(this)[0].checked)) return;
	    compute_progress_bar($(this).val());
	});

	$('#id_0-size').change(function(){
	    $('.radio-select').each(function() {
		if (!($(this)[0].checked)) return;
		compute_progress_bar($(this).val());
	    });
	});
    });
  </script>

  <style type="text/css">
    .ui-slider { height: 1.9em; }
    .ui-slider .ui-slider-handle { height: 2.3em; }
  </style>
{% endblock %}
