{% extends "carts/base.html" %}
{% load i18n %}

{% block foot %}
  <script type="text/javascript" src="{{ STATIC_URL }}jqueryui/ui/jquery.ui.core.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jqueryui/ui/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jqueryui/ui/jquery.ui.mouse.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jqueryui/ui/jquery.ui.slider.js"></script>
  <style>
#sliders {
    width: 300px;
    padding: 20px;
}

#sliders li {
    margin-bottom: 10px;
}

#sliders div {
    margin-bottom: 5px;
}
  </style>
  <script type="text/javascript">
    // http://jsfiddle.net/9azJG/2/

    var sliders = $("#sliders .slider");
    var result = $("#sliders_result");
    var availableTotal = 100;

    function compute() {
	var init_value = parseInt($(this).text());

	// result.append("<li>

	$(this).siblings('.value').text(init_value);

	$(this).empty().slider({
            value: init_value,
            min: 0,
            max: availableTotal,
            range: "max",
            step: 2,
            animate: 0,
            slide: function(event, ui) {
		// debugger;

		// Update display to current value
		$(this).siblings('.value').text(ui.value);

		// Get current total
		var total = 0;

		sliders.not(this).each(function() {
                    total += $(this).slider("option", "value");
		});

		// Need to do this because apparently jQ UI
		// does not update value until this event completes
		total += ui.value;

		var delta = availableTotal - total;

		// Update each slider
		sliders.not(this).each(function() {
                    // debugger;

                    var t = $(this),
                    value = t.slider("option", "value")
;
                    var new_value = value + (delta/4);

                    if (new_value < 0 || ui.value == 100)
			new_value = 0;
                    if (new_value > 100)
			new_value = 100;

                    t.siblings('.value').text(new_value);
                    t.slider('value', new_value);
		});
            }
	});
    }

    // sliders.each(compute);
  </script>
{% endblock %}

{% block sub_content %}
  <h2>{% trans "Create" %}</h2>

  <form class="cart-form" method="post" action="{% url "create" %}">
    {% csrf_token %}
    <h3 class="cart-form-heading">{% trans "Create an new subscription" %}</h3>
    {{ form.as_p }}
    <button class="btn btn-large btn-primary" type="submit">{% trans "Save" %}</button>
  </form>

<ul id="sliders">
    <li>
        <div class="slider">70</div>
        <span class="value">0</span>%
    </li>
    <li>
        <div class="slider">20</div>
        <span class="value" >0</span>%
    </li>
    <li>
        <div class="slider">20</div>
        <span class="value" >0</span>%
    </li>
    <li>
        <div class="slider">20</div>
        <span class="value" >0</span>%
    </li>
    <li>
        <div class="slider">10</div>
        <span class="value">0</span>%
    </li>
</ul>

<ul id="sliders_result">
</ul>

  <div id="swatch" class="ui-widget-content ui-corner-all"></div>

{% endblock %}
