{% extends "carts/base.html" %}
{% load i18n %}
{% load static %}

{% comment %}
{% block head %}
  {{ wizard.form.media }}
{% endblock %}
{% endcomment %}

{% block sub_content %}
  <h2>{% if thematic %}{% trans "Create a thematic cart" %}{% else %}{% trans "Create a custom cart" %}{% endif %}</h2>

  <div class="media alert alert-info">
    {% if thematic %}
      <div class="pull-left">
	<img class="img-thumbnail" src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" title="{{thematic.name}}" style="width:200px; height:160px; display: block;"/>
      </div>
    {% endif %}

    <div class="body">
      {% if thematic %}
	{% blocktrans with name=thematic.name %}
	  <h4>Ready to create your new {{name}} thematic cart ?</h4>
	{% endblocktrans %}
      {% else %}
	{% blocktrans %}
	  <h4>Ready to create your new custom cart ?</h4>
	{% endblocktrans %}
      {% endif %}

      {% blocktrans %}
	<p>Be free to choice below the size of your cart as well as its frequency and duration. You can even push the beginning week of your subscription to your convenience.</p>
      {% endblocktrans %}
    </div>
  </div>

  <form role="form" class="" method="post" action="{% if thematic %}{% url "create_thematic_id" thematic.pk %}{% else %}{% url "create_custom" %}{% endif %}">
    {% csrf_token %}

    {% comment %}
    {# Include the hidden fields #}
    {% for hidden in wizard.form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% endcomment %}

    <!-- <h3 class="cart-form-heading well">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3> -->

    {% if wizard.steps.current == '0' %}
      {% with tname="carts/one_slide.html" %}
	{% with id="0-size" field=wizard.form.size style="success" %}{% include tname %}{% endwith %}
	{% with id="0-frequency" field=wizard.form.frequency style="info" %}{% include tname %}{% endwith %}
	{% with id="0-duration" field=wizard.form.duration style="warning" %}{% include tname %}{% endwith %}
	{% with id="0-start" field=wizard.form.start style="danger" %}{% include tname %}{% endwith %}
      {% endwith %}

      <div class="panel panel-default">
	<div class="panel-heading"><h4>{{ wizard.form.criterias.label }}</h4></div>
	<div class="panel-body">{{ wizard.form.criterias }}</div>
	<div class="panel-footer">{{ wizard.form.criterias.help_text }}</div>
      </div>

      <div class="form-group">
	<div data-toggle="buttons">
	  <label id="expend_products" class="btn btn-lg btn-danger btn-block tooltip_link" title="{% trans "customize your cart content" %}" data-toggle="collapse" data-target="#display_products">
	    {{ wizard.form.customized }} {{ wizard.form.customized.label }}
	  </label>
	</div>
      </div>

      <div id="display_products" class="collapse out">
	<label>{% trans "Products" %}:</label>
	<ul class="media-list">
	  {% for product, products in wizard.form.products_tree.items %}
	    {% include "carts/products_tree.html" %}
	  {% endfor %}
	</ul>
      </div>

    {% elif wizard.steps.current == '1' %}

      <div id="sliders">
        {% for product in wizard.form.selected_products %}
	  <div class="form-group">
	    <label>{{ product }}</label>
	    <div class="row">
	      <div class="col-md-2">
		<button type="button" class="btn btn-link tooltip_link lock" data-toggle="button" title="{% trans "lock" %} {{product}}"><i class="glyphicon glyphicon-lock"></i></button>
	      </div>
              <div class="col-md-9 slider"></div>
              <div class="col-md-1 value_content"><span class="value">0</span> %</div>
	      <input type="hidden" name="product_{{ product.id }}" class="input_value" value="0"/>
	    </div>
	  </div>
	{% endfor %}
	{# <span id="sliders_total">100</span> #}
      </div>

    {% endif %}

    {{ wizard.management_form.as_p }}
    {% comment %}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form.as_p }}
      {% for form in wizard.form.forms %}
        {{ form.as_p }}
      {% endfor %}
    {% else %}
      {{ wizard.form.as_p }}
    {% endif %}
    {% endcomment %}

    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit" %}</button>
    </div>
    <div class="form-group row">
      {% if wizard.steps.prev %}
	{% comment %}
	  <button class="btn btn-lg" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
	{% endcomment %}
	<div class="col-md-6"><button class="btn btn-default btn-lg btn-block" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button></div>
      {% endif %}
      {% if wizard.steps.current == '1' %}
	<div class="col-md-6"><a class="btn btn-default btn-lg btn-block" id="balance">{% trans "balance" %}</a></div>
      {% endif %}
    </div>
  </form>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.core.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.widget.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.mouse.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.slider.js" %}"></script>
  <script type="text/javascript" src="{% static "carts/js/slider.js" %}"></script>

  <script type="text/javascript">
    $(function() {
	$('.tooltip_link').tooltip();

	$('.expend_button').click(function() {
	    i = $(this).find('i');
	    if ( i.hasClass('glyphicon-collapse-down') ) {
		i.removeClass('glyphicon-collapse-down');
		i.addClass('glyphicon-collapse-up');
	    } else {
		i.removeClass('glyphicon-collapse-up');
		i.addClass('glyphicon-collapse-down');
	    }
	});

	$('.add_link').click(function() {
	    if ( $(this).hasClass('btn-success') ) {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-link');
		$(this).siblings('.value')[0].value = 0;
	    } else {
		$(this).removeClass('btn-link');
		$(this).addClass('btn-success');
		$(this).siblings('.value')[0].value = 1;
	    }
	});

	$('#expend_products').click(function() {
	    if ( $(this).hasClass('btn-success') ) {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-danger');
		$('#customized')[0].value = 0;
	    } else {
		$(this).removeClass('btn-danger');
		$(this).addClass('btn-success');
		$('#customized')[0].value = 1;
	    }
	});
    });
  </script>

  <style type="text/css">
    .ui-slider { height: 1.9em; }
    .ui-slider .ui-slider-handle { height: 2.3em; }
  </style>
{% endblock %}
