{% extends "carts/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Deliveries" %}</h2>

  {% if subscription %}
    <table class="table table-bordered table-hover">
      <tr>
	<th class="col-md-2">{% trans "Subscription" %}</th>
	<td><a href="{% url "subscriptions" %}">{{subscription}}</a></td>
	<td><a href="{% url "subscriptions" %}">{{subscription.id}}</a></td>
      </tr>
    </table>
  {% endif %}

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-1"></th>
	{% if not subscription %}
	  <th class="col-md-1">{% trans "Subscription" %}</th>
	  <th>{% trans "Description" %}</th>
	{% endif %}
	<th>{% trans "Date" %}</th>
	<th class="col-md-2">{% trans "Status" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for delivery in object_list|dictsort:'date' %}
	<tr class="{% cycle 'row1' 'row2' %} {% if delivery.status == "p" %}success{% else %}warning{% endif %}">
	  <td style="text-align: center;">
	    {% if delivery.status == "w" %}
	      <a href="{% url "subscription_delivery_validate" delivery.subscription.id delivery.id %}" class="valid_link" data-toggle="tooltip" title="{% trans "buy" %} {{delivery}}"><i class="icon-ok-sign"></i></a>
	    {% endif %}
	  </td>
	  {% if not subscription %}
	    <td style="text-align: right;"><a href="{% url "subscriptions" %}">{{delivery.subscription.id}}</a></td>
	    <td><a href="{% url "subscriptions" %}">{{delivery.subscription}}</a></td>
	  {% endif %}
	  <td>{{delivery.date}}</td>
	  <td>{{delivery.get_status_display}}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="text-center">
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">»</a></li>
    </ul>
  </div>
{% endblock %}

{% block foot %}
  <script type="text/javascript">
    $(function() {
	$('.valid_link').tooltip();
    });
  </script>
{% endblock %}
