{% extends "carts/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <h2>{% trans "Deliveries" %}</h2>

  {% if subscription %}
    <table class="table table-bordered table-hover">
      <tr>
	<th class="col-md-2">{% trans "Subscription" %}</th>
	<td><a href="{% url "subscriptions" %}">{{subscription}}</a></td>
	<td><a href="{% url "subscriptions" %}">{{subscription.id}}</a></td>
      </tr>
    </table>

    {% if not subscription.receive_only_once %}
      <div class="well text-center">
	<canvas id="myChart" width="700px" height="400px"></canvas>
      </div>
    {% endif %}
  {% endif %}

  <div class="alert alert-info">
    {% if subscription %}
      Veuillez trouver ci-dessous l'échéancier des livraisons pour votre abonnement {{subscription.id}}. Le premier élément ayant la date de livraison la plus proche.
    {% else %}
      Veuillez trouver ci-dessous l'échéancier des livraisons pour tous vos abonnements confondus. Le premier élément ayant la date de livraison la plus proche.
    {% endif %}
  </div>

  <div class="alert alert-info">
    Pour que vos paniers soient bien préparés et livrés, il vous faut approvisionner votre compte au plus tard à J-10 de la date d'envoi du colis, le paiement du panier sera ensuite prélevé automatiquement à cette date-là. Pour cela, rendez-vous sur la partie « <a href="{% url "credit" %}">portemonnaie</a> » afin de créditer votre compte. Vous pouvez également valider votre échéances (ou plusieurs) en avance en cliquant sur le symbole à gauche du (des) panier(s) concerné(s). Attention cette étape valide définitivement la création de ce(s) panier(s), vous ne pourrez plus les annuler.
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-1"></th>
	{% if not subscription %}
	  <th class="col-md-1">{% trans "Subscription" %}</th>
	  <th>{% trans "Description" %}</th>
	{% endif %}
	<th>{% trans "Date" %}</th>
	{% if subscription %}
	  <th class="col-md-2">{% trans "Price" %}</th>
	{% endif %}
	<th class="col-md-2">{% trans "Status" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for delivery in object_list|dictsort:'date' %}
	<tr class="{% cycle 'row1' 'row2' %} {% if delivery.status in delivery.SUCCESS_CHOICES %}success{% elif delivery.status in delivery.FAILED_CHOICES %}danger{% else %}warning{% endif %}">
	  <td>
	    {% if delivery.status == "w" %}
	      <div class="text-center">
		<a href="#valid_link_modal_{{delivery.id}}" class="tooltip_link" data-toggle="modal" title="{% trans "buy" %} {{delivery}}"><i class="glyphicon glyphicon-ok-sign"></i></a>
	      </div>

	      <!-- Modal -->
	      <div class="modal fade" id="valid_link_modal_{{delivery.id}}"
		   tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      <h4 class="modal-title">{% trans "Confirmation" %}</h4>
		    </div>
		    <div class="modal-body">
		      {% blocktrans with date=delivery.get_date_display %}
			Do you confirm you want to validate the delivery {{date}} ? Your balance will be updated.
		      {% endblocktrans %}
		    </div>
		    <div class="modal-footer">
		      <a class="btn btn-primary" href="{% url "subscription_delivery_validate" delivery.subscription.id delivery.id %}"><i class="glyphicon glyphicon-ok-sign"></i> {% trans "Yes" %}</a>
		      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> {% trans "No" %}</button>
		    </div>
		  </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	      </div><!-- /.modal -->
	    {% endif %}
	  </td>
	  {% if not subscription %}
	    <td class="text-right"><a href="{% url "subscriptions" %}">{{delivery.subscription.id}}</a></td>
	    <td><a href="{% url "subscriptions" %}">{{delivery.subscription}}</a></td>
	  {% endif %}
	  <td>{{delivery.get_date_display}}</td>
	  {% if subscription %}
	    <td>{% if delivery.status in delivery.SUCCESS_CHOICES %}{{delivery.payed_price|floatformat}}{% elif delivery.status in delivery.FAILED_CHOICES %}-{% else %}{{delivery.degressive_price|floatformat}}{% endif %}</td>
	  {% endif %}
	  <td>{{delivery.get_status_display}}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  {% comment %}
  <div class="text-center">
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">»</a></li>
    </ul>
  </div>
  {% endcomment %}
{% endblock %}

{% block foot %}
  {% if subscription %}
  <script type="text/javascript" src="{% static "chartjs/Chart.min.js" %}"></script>

  <script type="text/javascript">
    {% if not subscription.receive_only_once %}
    $(function() {
    	var data = {
	    labels: [{% for delivery in object_list|dictsort:'date' %}"{{delivery.get_date_display}}",{% endfor %}],
    	    datasets: [
		{
		    fillColor: "rgba(220,220,220,0.5)",
		    strokeColor: "rgba(220,220,220,1)",
		    pointColor: "rgba(220,220,220,1)",
		    pointStrokeColor: "#fff",
		    data: [{% for delivery in object_list|dictsort:"date" %}{{mean_of_prices|stringformat:"f"}}, {% endfor %}]
		},
    		{
		    fillColor: "rgba(151,187,205,0.5)",
		    strokeColor: "rgba(151,187,205,1)",
		    pointColor: "rgba(151,187,205,1)",
		    pointStrokeColor: "#fff",
		    data: [{% for delivery in object_list|dictsort:"date" %}{{delivery.degressive_price|stringformat:"f"}}, {% endfor %}]
    		},
    	    ]
    	}

	var options = {
	    bezierCurve: false,
	}

    	var ctx = $("#myChart").get(0).getContext("2d");
    	var myNewChart = new Chart(ctx).Line(data, options);
    });
    {% endif %}
  </script>
  {% endif %}
{% endblock %}
