{% if object_list.paginator.num_pages > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% if object_list.has_previous %}
	{% if arg %}
	  <li><a href="{% url link arg object_list.previous_page_number %}">«</a></li>
	{% else %}
	  <li><a href="{% url link object_list.previous_page_number %}">«</a></li>
	{% endif %}
      {% else %}
	<li class="disabled"><a>«</a></li>
      {% endif %}

      {% for i in object_list.paginator.page_range %}
	{% if object_list.number == i %}
	  <li class="active"><a>{{i}}</a></li>
	{% else %}
	  {% if arg %}
	    <li><a href="{% url link arg i %}">{{i}}</a></li>
	  {% else %}
	    <li><a href="{% url link i %}">{{i}}</a></li>
	  {% endif %}
	{% endif %}
      {% endfor %}

      {% if object_list.has_next %}
	{% if arg %}
	  <li><a href="{% url link arg object_list.next_page_number %}">»</a></li>
	{% else %}
	  <li><a href="{% url link object_list.next_page_number %}">»</a></li>
	{% endif %}
      {% else %}
	<li class="disabled"><a>»</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
