{% extends "carts/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Subscriptions" %}</h2>

  <div class="alert alert-info">
	<p>Voici la liste de vos abonnements.</p>
        <p>Vous pouvez éditer les paramêtres de vos abonnements en cliquant sur l'icone à gauche.
En cliquant sur un abonnement vous pourrez consulter l'échéancier de celui-ci avec l'affichage des prix dégréssifs.
        </p>
  </div>

  <div class="text-right">
    <a href="{% url "create_custom" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  <br/>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-1"></th>
	<th class="col-md-2">{% trans "ID" %}</th>
	<th class="col-md-2">{% trans "Size" %}</th>
	<th class="col-md-1">{% trans "Price" %}</th>
	<th class="col-md-2">{% trans "Frequency" %}</th>
	<th class="col-md-1">{% trans "Duration" %}</th>
	<th class="col-md-1">{% trans "Quantity" %}</th>
	<th class="col-md-1">{% trans "#weeks" %}</th>
	<th class="col-md-2">{% trans "Date" %}</th>
	<th class="col-md-1">{% trans "Enabled" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for subscription in object_list|dictsortreversed:"date_created" %}
	<tr class="{% cycle 'row1' 'row2' %}">
	  <td>
	    <div class="text-center">
	      <a class="tooltip_link" href="{% url "subscription_edit" subscription.id %}" title="{% trans "edit" %} {{subscription}}"><i class="glyphicon glyphicon-edit"></i></a>
	    </div>
	  </td>
	  <td><a href="{% url "subscription_deliveries" subscription.id %}">{{subscription.id}}</a></td>
	  <td><a href="{% url "subscription_deliveries" subscription.id %}">{{subscription.size}}</a></td>
	  <td>{{subscription.price}}</td>
	  {% if not subscription.receive_only_once %}
	    <td>{{subscription.frequency_name}}</td>
	    <td>{{subscription.duration2}}</td>
	  {% else %}
	    <td colspan="2">{% trans "Receive only once" %}</td>
	  {% endif %}
	  <td>{{subscription.quantity}}</td>
	  <td>{{subscription.delivery_set.all|length}}</td>
	  <td><a class="tooltip_link" title="{{subscription.date_created}}">{{subscription.date_created|date:"d F Y"}}</a></td>
	  <td class="text-center"><span class="glyphicon {% if subscription.enabled %}glyphicon-ok-circle alert-success{% else %}glyphicon-remove-circle alert-danger{% endif %}"></span></td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-actions text-right">
    <a href="{% url "create_custom" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  {% comment %}
  <div class="text-center">
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">»</a></li>
    </ul>
  </div>
  {% endcomment %}

{% endblock %}
