{% extends "carts/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Subscriptions" %}</h2>

  <div class="text-right">
    <a href="{% url "create" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  <br/>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-2">{% trans "Size" %}</th>
	<th class="col-md-2">{% trans "Price" %}</th>
	<th class="col-md-2">{% trans "Frequency" %}</th>
	<th class="col-md-1">{% trans "Duration" %}</th>
	<th class="col-md-1">{% trans "Quantity" %}</th>
	<th class="col-md-1">{% trans "#weeks" %}</th>
	<th class="col-md-2">{% trans "Date" %}</th>
	<th class="col-md-1">{% trans "Status" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for subscription in object_list %}
	<tr class="{% cycle 'row1' 'row2' %} {% if subscription.status == "v" %}success{% else %}warning{% endif %}">
	  <td><a href="{% url "subscription_deliveries" subscription.id %}">{{subscription.size}}</a></td>
	  <td>{{subscription.price}}</td>
	  <td>{{subscription.frequency_name}}</td>
	  <td>{{subscription.duration2}}</td>
	  <td>{{subscription.quantity}}</td>
	  <td>{{subscription.delivery_set.all|length}}</td>
	  <td>{{subscription.date_created}}</td>
	  <td>{{subscription.get_status_display}}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-actions text-right">
    <a href="{% url "create" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  <div class="text-center">
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">»</a></li>
    </ul>
  </div>

{% endblock %}
