{% extends "carts/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <h2>{% trans "Our thematic carts" %}</h2>

  <div class="row">
    {% for thematic in object_list|dictsortreversed:"date_created" %}
    <div class="col-sm-8 col-md-4" style="margin-bottom:40px;">
      <div class="thumbnail">
	<a href="{% url "create_thematic_id" thematic.pk %}"><img class="img-thumbnail" src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" title="{{thematic.name}}" style="width:200px; height:160px; display: block;"/></a>
	<div class="caption">
	  <h3>{{thematic.name}}</h3>
	  <p>{{thematic.body}}</p>
	  <div class="form-group">
	    <a href="{% url "create_thematic_id" thematic.pk %}" class="btn btn-primary btn-block">{% trans "Create" %}</a>
	  </div>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
