.cart-form {
    max-width: 700px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #999;der-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.cart-form .cart-form-heading,
.cart-form .checkbox {
    margin-bottom: 10px;
}

#sliders {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}

#sliders div {
    margin-bottom: 5px;
}

#sliders .value_content {
    font-size: 12px;
}

.one_slide .row {
    margin-left: 0;
    margin-bottom: 20px;
}
