{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "accounts/css/styles.css" %}" />
{% endblock %}

{% block section_title %}{% trans "Reset my password" %}{% endblock %}

{% block content %}
    <form role="form" class="account-form" method="post" action="{% url "account_password_reset" %}">
      {% csrf_token %}
      <h2 class="account-form-heading">{% trans "Reset my password" %}</h2>

      {% for field in form %}
	<div>
	  <div class="form-group">
	    {{ field }}
	  </div>
	  {% if field.errors %}
	    <div class="errorlist">
	      {% for error in field.errors %}
		<div class="alert alert-danger" style="margin-bottom: 15px"><strong>{{ error|escape }}</strong></div>
	      {% endfor %}
	    </div>
	  {% endif %}
	</div>
      {% endfor %}

      <div class="form-group">
	<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Send a new password" %}</button>
      </div>
    </form>
{% endblock %}
