{% extends "customers/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Profile" %}</h2>

  <table class="table table-bordered table-hover">
    <tr class="alert alert-info"><th class="col-md-2">{% trans "Known as" %}</th><td>{{object.main_address}}</td></tr>
    <tr><th class="col-md-2">{% trans "Shipping" %}</th><td>{{object.get_shipping_address}}</td></tr>
    <tr><th class="col-md-2">{% trans "Billing" %}</th><td>{{object.get_billing_address}}</td></tr>
    <tr><th class="col-md-2">{% trans "Relay" %}</th><td>{{object.relay_address}}</td></tr>
  </table>

  <h3>{% trans "Settings" %}</h3>
  <div class="form-group">
    <a class="btn btn-lg btn-default btn-block" href="{% url "password_reset" %}">{% trans "Reset my password" %}</a>
  </div>
{% endblock %}
