{% extends "mailbox/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Mailbox" %}</h2>

  <div class="form-actions text-right">
    <a href="{% url "messages" %}" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> {% trans "Refresh" %}</a>
    <a href="{% url "new_message" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  <br/>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-3">{% trans "Participants" %}</th>
	<th>{% trans "Subject" %}</th>
	<th class="col-md-1">{% trans "#threads" %}</th>
	<th class="col-md-3">{% trans "Date" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for message in object_list|dictsortreversed:"date_last_modified" %}
	<tr class="{% cycle 'row1' 'row2' %} {% if user.customer not in message.participants_read.all %}success{% endif %}">
	  <td>
	    <ul>
	      {% for participant in message.participants.all %}
		{% if user.customer != participant %}
		  <li>{{participant}}</li>
		{% endif %}
	      {% endfor %}
	    </ul>
	  </td>
	  <td><a href="{% url "message_detail" message.id %}" class="subject_link" title="{{message.body}}">{{message.subject}}</a></td>
	  <td>{{message.reply_set.all|length}}</td>
	  <td>{{message.date_created}}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-actions text-right">
    <a href="{% url "messages" %}" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> {% trans "Refresh" %}</a>
    <a href="{% url "new_message" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  <div class="text-center">
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">»</a></li>
    </ul>
  </div>

{% endblock %}

{% block foot %}
  <script type="text/javascript">
    $(function() {
	$('.subject_link').tooltip();
    });
  </script>
{% endblock %}
