{% extends "mailbox/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <h2>{% trans "Message" %}</h2>

  <div class="form-actions text-right">
    <a href="{% url "messages" %}" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i> {% trans "Return" %}</a>
    <a href="{% url "reply_message" object.id %}" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i> {% trans "Reply" %}</a>
  </div>
  <br/>

  <div class="form-group well">
    <p>
      <label><strong>{% trans "Participants" %}:</strong></label>
      {% for participant in object.participants.all %}
	<span class="badge {% if object.owner == participant %}alert-success{% endif %}">{% if participant == user.customer %}{% trans "Me" %}{% else %}{{participant}}{% endif %}</span>
      {% endfor %}
    </p>
    <p><label><strong>{% trans "Subject" %}:</strong></label> {{object.subject}}</p>
    <p><label><strong>{% trans "Body" %}:</strong></label> {{object.body}}</p>
  </div>

  {% if object.reply_set.all %}
    <hr/>
    <h3 class="well">{% trans "Replies" %}</h3>
    {% for reply in object.reply_set.all|dictsortreversed:"date_created" %}
      <div class="form-group well">
	<p>
	  <label><strong>{% trans "Participant" %}:</strong></label>
	  <span class="badge">{% if reply.participant == user.customer %}{% trans "Me" %}{% else %}{{reply.participant}}{% endif %}</span>
	</p>
	<p><label><strong>{% trans "Body" %}:</strong></label> {{reply.body}}</p>
	<p><label><strong>{% trans "Date" %}:</strong></label> {{reply.date_created}}</p>
      </div>
    {% endfor %}
  {% endif %}

  <div class="form-actions text-right">
    <a href="{% url "messages" %}" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i> {% trans "Return" %}</a>
    <a href="{% url "reply_message" object.id %}" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i> {% trans "Reply" %}</a>
  </div>
{% endblock %}
