{% extends "mailbox/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Mailbox" %}</h2>

  <div class="form-actions text-right">
    <a href="{% url "messages" 1 %}" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> {% trans "Refresh" %}</a>
    <a href="{% url "new_message" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  <br/>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-3">{% trans "Participants" %}</th>
	<th>{% trans "Subject" %}</th>
	<th class="col-md-1">{% trans "#threads" %}</th>
	<th class="col-md-3">{% trans "Date" %}</th>
      </tr>
    </thead>
    <tbody>
      {% with customer=user.customer %}
	{% for message in object_list|dictsortreversed:"date_last_modified" %}
	  <tr class="{% cycle 'row1' 'row2' %} {% if customer not in message.participants_read.all %}success{% endif %}">
	    <td>
	      {% for participant in message.participants.all %}
		<span class="badge {% if message.owner == participant %}alert-success{% endif %}">{% if participant == customer %}{% trans "Me" %}{% else %}{{participant}}{% endif %}</span>
	      {% endfor %}
	    </td>
	    <td><a href="{% url "message_detail" message.id %}" class="subject_link" title="{{message.body}}">{{message.subject}}</a></td>
	    <td>{{message.reply_set.count}}</td>
	    <td><a class="tooltip_link" title="{{message.date_last_modified}}">{{message.date_last_modified|date:"d F Y"}}</a></td>
	  </tr>
	{% endfor %}
      {% endwith %}
    </tbody>
  </table>

  <div class="form-actions text-right">
    <a href="{% url "messages" 1 %}" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> {% trans "Refresh" %}</a>
    <a href="{% url "new_message" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {% trans "New" %}</a>
  </div>

  {% with link="messages" %}{% include "mailbox/pagination.html" %}{% endwith %}

{% endblock %}

{% block foot %}
  <script type="text/javascript">
    $(function() {
	$('.subject_link').tooltip();
    });
  </script>
{% endblock %}
