{% extends "mailbox/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <h2>{% trans "Reply message" %}</h2>

  <form role="form" method="post" action="{% url "reply_message" object.id %}">
    {% csrf_token %}
    <h3 class="mailbox-form-heading well">{% trans "Send an answer" %}</h3>

    {% for field in form %}
      <div class="well">
	<div class="form-group">
          {{ field.label_tag }}
	  {{ field }}
	</div>
	{% if field.errors %}
	  <div class="errorlist">
	    {% for error in field.errors %}
              <div class="alert alert-danger" style="margin-bottom: 0"><strong>{{ error|escape }}</strong></div>
	    {% endfor %}
	  </div>
	{% endif %}
      </div>
    {% endfor %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "submit" %}</button>
  </form>
{% endblock %}
