{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "wallets/css/styles.css" %}" />
  <link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />
{% endblock %}

{% block page_title %}{% trans "Wallet" %}{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li {% if sub_section == "credit" %}class="active"{% endif %}>
	    <a href="{% url "credit" %}"><i class="icon-plus-sign"></i> {% trans "Credit" %}</a>
	  </li>

	  <li {% if sub_section == "withdraw" %}class="active"{% endif %}>
	    <a href="{% url "withdraw" %}"><i class="icon-minus-sign"></i> {% trans "Withdraw" %}</a>
	  </li>

	  <li {% if not sub_section or sub_section == "balance" %}class="active"{% endif %}>
	    <a href="{% url "balance" %}"><i class="icon-briefcase"></i> {% trans "Balance" %}</a>
	  </li>

	  <li {% if sub_section == "histories" %}class="active"{% endif %}>
	    <a href="{% url "histories" %}"><i class="icon-calendar"></i> {% trans "Histories" %}</a>
	  </li>

	  <li {% if sub_section == "credit_requests" %}class="active"{% endif %}>
	    <a href="{% url "credit_requests" %}"><i class="icon-calendar"></i> {% trans "Credit requests" %}</a>
	  </li>

	  <li {% if sub_section == "withdraw_requests" %}class="active"{% endif %}>
	    <a href="{% url "withdraw_requests" %}"><i class="icon-calendar"></i> {% trans "Withdraw requests" %}</a>
	  </li>

	  <li {% if sub_section == "settings" %}class="active"{% endif %}>
	    <a href="{% url "settings" %}"><i class="icon-cog"></i> {% trans "Settings" %}</a>
	  </li>
	</ul>
      </div>
    </div>

    <div class="span9">
      {% block sub_content %}{% endblock %}
    </div>
  </div> <!--/.row-fluid -->
{% endblock %}
