{% extends "wallets/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <h2>{% trans "Credit" %}</h2>

  <form role="form" method="post" action="{% url "credit" %}">
    {% csrf_token %}
    <h3 class="wallet-form-heading well">{% trans "Credit your wallet" %}</h3>

    <div class="form-group well">
      <div class="one_slide">
	<label for="amounts-slide">{% trans "Amount" %}</label>
	<div class="row">
	  <div class="col-md-9" id="amounts-slide"></div>
	  <div class="col-md-3 input-group">
	    <input type="text" name="amount" id="amount" class="form-control" value="0"/>
	    <span class="input-group-addon">{{object.target_currency.symbol}}</span>
	  </div>
	</div>
      </div>
      <br/>
      <div class="alert alert-info">
	<span class="helptext">
	  Choisissez le montant dont vous souhaitez créditer votre compte ou indiquer la somme de votre choix.
	</span>
      </div>
    </div>

    <div class="form-group well">
      {{ form.payment_type.label_tag }}
      {{ form.payment_type }}
      {% if form.payment_type.help_text %}
	<br/>
	<div class="alert alert-info">
	  <span class="helptext">{{ form.payment_type.help_text }}</span>
	</div>
      {% endif %}
    </div>

    <div class="form-group well">
      {{ form.payment_date.label_tag }}
      {{ form.payment_date }}
      {% if form.payment_date.help_text %}
	<br/>
	<div class="alert alert-info">
	  <span class="helptext">{{ form.payment_date.help_text }}</span>
	</div>
      {% endif %}
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Credit" %}</button>
    </div>
  </form>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.core.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.widget.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.mouse.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.slider.js" %}"></script>

  <script type="text/javascript">
    $(function() {
	var amounts = ['1', '2', '5', '10', '20', '50', '100', '200', '500',];
	$('#amounts-slide').slider({
	    range: 'max',
	    min: 0,
	    max: amounts.length-1,
	    value: 4,
	    slide: function( event, ui ) {
		$('#amount')[0].value = amounts[parseInt(ui.value)];
	    }
	});
	$('#amount')[0].value = amounts[parseInt($('#amounts-slide').slider('value'))];
    });
  </script>

  <style type="text/css">
    .ui-slider .ui-slider-handle { height: 2.7em; }
    .ui-slider { height: 2.2em; }
  </style>
{% endblock %}
