{% extends "wallets/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Histories" %}</h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="span2">{% trans "Content type" %}</th>
	<th>{% trans "Object" %}</th>
	<th class="span2">{% trans "Amount" %}</th>
	<th class="span2">{% trans "Date" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for history in object_list %}
	<tr class="{% cycle 'row1' 'row2' %}">
	  <td>{{history.content_type}}</td>
	  <td>{{history.content_object}}</td>
	  <td>{{history.target_amount}} {{history.wallet.target_currency.symbol}}</td>
	  <td>{{history.date_created}}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
