{% extends "wallets/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <h2>{% trans "Withdraw" %}</h2>

  <form class="wallet-form" method="post" action="{% url "withdraw" %}">
    {% csrf_token %}
    <h3 class="wallet-form-heading">{% trans "Withdraw from your wallet" %}</h3>

    <div class="one_slide">
      <label for="amounts-slide">{% trans "Amount" %}</label>
      <div class="row">
	<div class="span9" id="amounts-slide"></div>
	<div class="span2 input-append">
	  <input type="text" name="amount" id="amount" class="input-block-level" value="0"/>
	  <span class="add-on">{{object.target_currency.symbol}}</span>
	</div>
      </div>
    </div>

    <p>
      {{ form.payment_type.label_tag }}
      {{ form.payment_type }}
      {% if form.payment_type.help_text %}
	<span class="helptext">{{ form.payment_type.help_text }}</span>
      {% endif %}
    </p>

    <button class="btn btn-large btn-primary" type="submit">{% trans "Save" %}</button>
  </form>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.core.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.widget.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.mouse.js" %}"></script>
  <script type="text/javascript" src="{% static "jqueryui/ui/jquery.ui.slider.js" %}"></script>

  <script type="text/javascript">
    $(function() {
	$('#amounts-slide').slider({
	    range: 'max',
	    min: 0,
	    max: parseInt({{object.balance_in_target_currency|stringformat:"f"}}),
	    step: 10,
	    value: 0,
	    slide: function( event, ui ) {
		$('#amount')[0].value = ui.value;
	    }
	});
	$('#amount')[0].value = $('#amounts-slide').slider('value');
    });
  </script>

  <style type="text/css">
    .ui-slider .ui-slider-handle { height: 2.3em; }
    .ui-slider { margin-right: 6px; }
  </style>
{% endblock %}
