{% extends "wallets/base.html" %}
{% load i18n %}

{% block sub_content %}
  <h2>{% trans "Withdraw requests" %}</h2>

  <div class="alert alert-info">
	<p>Toutes vos demandes de retrait de votre compte, en attente de validation, se trouvent ci-dessous.</p>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="col-md-1"></th>
	<th class="col-md-2">{% trans "Payment type" %}</th>
	<th class="col-md-2">{% trans "Amount" %}</th>
	<th class="col-md-2">{% trans "Status" %}</th>
	<th class="col-md-2">{% trans "Date" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for req in object_list|dictsortreversed:"date_created" %}
	<tr class="{% cycle 'row1' 'row2' %}">
	  <td class="text-center">{% if req.status == "w" %}<a href="{% url 'withdraw_request_cancel' req.id %}" class="tooltip_link" data-toggle="tooltip" title="{% trans "cancel" %} {{req}}"><i class="glyphicon glyphicon-remove-circle"></i></a>{% endif %}</td>
	  <td>{{req.get_payment_type_display}}</td>
	  <td><span class="badge">{{req.amount_in_target_currency|floatformat}} {{req.wallet.target_currency.symbol}}</span></td>
	  <td><span class="badge {% if req.status == "v" %}alert-success{% elif req.status == "c" %}alert-danger{% else %}alert-warning{% endif %}">{{req.get_status_display}}</span></td>
	  <td><a class="tooltip_link" title="{{req.date_created}}">{{req.date_created|date:"d F Y"}}</a></td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
