{% extends "pro/base.html" %}
{% load i18n %}
{% load static %}
{% load cache %}

{% block head %}
  {#<link rel="stylesheet" href="{% static "pro/css/styles.css" %}" />#}
  {#<link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />#}
{% endblock %}

{% block section_title %}{% trans "Catalog" %}{% endblock %}

{% block sub_content %}
  <br/>
  <div class="row">

    {#{% cache 3600 catalog_sidebar %}#}
    <div class="col-md-5">
      <div class="well sidebar-nav">
	<ul class="media-list">
	  <li class="media">
	    <span class="pull-left">
	      <img class="media-object img-thumbnail" style="width:35px; height:35px"/>
	    </span>
	    <div class="media-body">
	      <a class="btn {% if not selected_product %}active btn-primary{% endif %}" href="{% if view == "list" %}{% url "pro_catalog_list_page" 1 %}{% else %}{% url "pro_catalog_grid_page" 1 %}{% endif %}">{% trans "All products" %}</a>
	      {#<a class="btn" href="{% if view == "list" %}{% url "pro_catalog_list_page" 1 %}{% else %}{% url "pro_catalog_grid_page" 1 %}{% endif %}">{% trans "All products" %}</a>#}
	      <ul class="media-list" style="margin-top:10px">
		{% for product, products in products_tree %}
		  {% with product=product products=products %}
		    {% include "pro/products_tree.html" %}
		  {% endwith %}
		{% endfor %}
	      </ul>
	    </div>
	  </li>
	</ul>
      </div>
    </div>
    {#{% endcache %}#}

    {#{% cache 3600 catalog_content %}#}
    <div class="col-md-7">
      <ul class="nav nav-tabs pull-right">
	{% if view == "grid" %}
	  <li class="active"><a title="{% trans "Grid" %}"><i class="glyphicon glyphicon-th"></i></a></li>
	{% else %}
	  {% if selected_product %}
	    <li><a href="{% url "pro_catalog_grid_product_id_slug_page" selected_product.id selected_product.slug object_list.number %}{% if search %}?search={{search}}{% endif %}" title="{% trans "Grid" %}"><i class="glyphicon glyphicon-th"></i></a></li>
	  {% else %}
	    <li><a href="{% url "pro_catalog_grid_page" object_list.number %}{% if search %}?search={{search}}{% endif %}" title="{% trans "Grid" %}"><i class="glyphicon glyphicon-th"></i></a></li>
	  {% endif %}
	{% endif %}

	{% if view == "list" %}
	  <li class="active"><a title="{% trans "List" %}"><i class="glyphicon glyphicon-th-list"></i></a></li>
	{% else %}
	  {% if selected_product %}
	    <li><a href="{% url "pro_catalog_list_product_id_slug_page" selected_product.id selected_product.slug object_list.number %}{% if search %}?search={{search}}{% endif %}" title="{% trans "List" %}"><i class="glyphicon glyphicon-th-list"></i></a></li>
	  {% else %}
	    <li><a href="{% url "pro_catalog_list_page" object_list.number %}{% if search %}?search={{search}}{% endif %}" title="{% trans "List" %}"><i class="glyphicon glyphicon-th-list"></i></a></li>
	  {% endif %}
	{% endif %}
      </ul>

      <h2>{% trans "Our suppliers products" %}</h2>

      <div class="alert alert-info">
	<p>Veuillez trouver ci-dessous tous les produits de nos fournisseurs.</p>
	<p>Les produits sont mis à jour constamment.<p/>
      </div>

      <form role="form" method="get" action="{% if selected_product %}{% if view == "list" %}{% url "pro_catalog_list_product_id_slug_page" selected_product.id selected_product.slug object_list.number %}{% else %}{% url "pro_catalog_grid_product_id_slug_page" selected_product.id selected_product.slug object_list.number %}{% endif %}{% else %}{% if view == "list" %}{% url "pro_catalog_list_page" object_list.number %}{% else %}{% url "pro_catalog_grid_page" object_list.number %}{% endif %}{% endif %}">
	<div class="input-group">
	  <input type="text" class="form-control input-lg" name="search" placeholder="Tapez votre recherche…" value="{{search}}">
	  <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="submit" style="padding-top: 9px; padding-bottom: 9px"><span class="glyphicon glyphicon-search"></span></button>
	  </span>
	</div>
      </form>

      <br/>

      {% with product_path=product_path selected_product=selected_product view=view %}
	{% include "pro/product_path.html" %}
      {% endwith %}

      {% with object_list=object_list selected_product=selected_product view=view %}
	{% include "pro/pagination.html" %}
      {% endwith %}

      <div class="text-center">
	<span class="label label-success">Prix HT</span>
	<span class="label label-info">Prix TTC</span>
      </div>

      <br/>

      <div class="{% if view == "grid" %}row{% endif %}">
	{% for product in object_list %}
	  {% with price=product.price %}
	    {% if view == "list" %}
	      <div style="margin-bottom:40px;">
		<div class="panel panel-default">
		  <div class="panel-heading"><a class="tooltip_link" href="#modal_{{product.id}}" role="button" data-toggle="modal" title="{% trans "read more about" %} {{product}}"><h4>{{product.name}}</h4></a></div>
		  <div class="panel-body">
		    <div class="media">
		      <a class="pull-left" href="#modal_{{product.id}}" role="button" data-toggle="modal">
			<img class="media-object img-thumbnail tooltip_link" src="{% get_media_prefix %}{{product.main_image}}" alt="{{product.name}}" title="{% trans "read more about" %} {{product.name}}" style="width:90px"/>
		      </a>
		      <div class="media-body">
			{{product.body|truncatewords:45}}
		      </div>
		    </div>
		  </div>
		  <div class="panel-footer" style="height:52px">
		    <div class="row">
		      <div class="col-md-8">
		        <div class="btn btn-sm"><strong>Réf :</strong> {{product.id}}</div>
		      </div>
		      <div class="col-md-4">
			<div class="row">
			  <div class="col-md-4">
			    <a class="btn btn-success btn-sm tooltip_link" title="Prix HT"><strong>{{price.get_pro_pre_tax_price|stringformat:".2f"}} {{price.currency.symbol}}</strong></a>
			  </div>
			  <div class="col-md-4">
			    <a class="btn btn-info btn-sm tooltip_link" title="Prix TTC">{{price.get_pro_after_tax_price|stringformat:".2f"}} {{price.currency.symbol}}</a>
			  </div>
			  <div class="col-md-2">
			    <a href="#modal_{{product.id}}" role="button" data-toggle="modal" class="btn btn-default btn-sm tooltip_link" title="En savoir plus"><i class="glyphicon glyphicon-info-sign"></i></a>
			  </div>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    {% else %}
	      <div class="col-sm-8 col-md-4" style="margin-bottom:40px;">
		<div class="panel panel-default">
		  <div class="panel-heading" style="height: 80px"><a class="tooltip_link" href="#modal_{{product.id}}" role="button" data-toggle="modal" title="En savoir plus"><h4>{{product.name}}</h4></a></div>
		  <div class="panel-body">
		    <a href="#modal_{{product.id}}" role="button" data-toggle="modal">
		      <img class="tooltip_link" src="{% get_media_prefix %}{{product.main_image}}" alt="{{product.name}}" title="En savoir plus" style="width:170px; height:160px"/>
		    </a>
		  </div>
		  <div class="panel-footer text-center" style="height: 40px">
		    <div class="row">
		      <div class="col-md-6 pull-right">
		        <p><strong>Réf :</strong> {{product.id}}</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel-footer text-center">
		    <div class="row">
		      <div class="col-md-4">
			<a class="btn btn-success btn-sm tooltip_link" title="Prix HT"><strong>{{price.get_pro_pre_tax_price|stringformat:".2f"}} {{price.currency.symbol}}</strong></a>
		      </div>
		      <div class="col-md-4">
			<a class="btn btn-info btn-sm tooltip_link" title="Prix TTC">{{price.get_pro_after_tax_price|stringformat:".2f"}} {{price.currency.symbol}}</a>
		      </div>
		      <div class="col-md-2">
			<a href="#modal_{{product.id}}" role="button" data-toggle="modal" class="btn btn-default btn-sm tooltip_link" title="En savoir plus"><i class="glyphicon glyphicon-info-sign"></i></a>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    {% endif %}

	    <!-- Modal -->
	    <div id="modal_{{product.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_{{product.id}}_label" aria-hidden="true">
	      <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h2 id="modal_{{product.id}}_label">{{product.name}}</h2>
		  </div>
		  <div class="modal-body">
		    <a class="pull-right" href="#">
		      <img class="media-object img-thumbnail" src="{% get_media_prefix %}{{product.main_image}}" alt="128x128" style="width: 128px; height: 128px; margin-left: 20px; margin-bottom: 20px"/>
		    </a>

		    <h3>{% trans "Description" %}</h3>
		    <p style="text-align:justify">{{product.body}}</p>

		    {% if product.ingredients %}
		      <h3>{% trans "Ingredients" %}</h3>
		      <div class= "alert alert-warning">
			<p>Les ingrédients seront traduits prochainement. N'hésitez pas à nous contacter pour tout renseignement.</p>
		      </div>
		      <p style="text-align:justify">{{product.ingredients}}</p>
		    {% endif %}

		    <h3>Poids</h3>
		    <p>{{product.weight}} g</p>

		    <h3>Prix HT</h3>
		    <p><strong>{{price.get_pro_pre_tax_price|stringformat:".2f"}} {{price.currency.symbol}}</strong></p>

		    <h3>Prix TTC</h3>
		    <p>{{price.get_pro_after_tax_price|stringformat:".2f"}} {{price.currency.symbol}}</p>

		    {% with criterias=product.criterias.all %}
		      {% if criterias %}
			<h3>{% trans "Criterias" %}</h3>
			<p>{{criterias|safeseq|join:", "}}</p>
                      {% endif %}
		    {% endwith %}

		    {% with suppliers=product.suppliers.all %}
		      {% if suppliers %}
			<h3>{% trans "Suppliers" %}</h3>
			<p>{{suppliers|safeseq|join:", "}}</p>
                      {% endif %}
		    {% endwith %}
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>
	      </div>
	    </div>

	  {% endwith %}
	{% endfor %}
      </div>

      {% with object_list=object_list selected_product=selected_product view=view %}
	{% include "pro/pagination.html" %}
      {% endwith %}

      {% with product_path=product_path selected_product=selected_product view=view %}
	{% include "pro/product_path.html" %}
      {% endwith %}

    </div>
    {#{% endcache %}#}

  </div> <!--/.row-fluid -->
{% endblock %}
