{% extends "pro/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
<h3 class="alert alert-info text-center">Page d'accueil pour les professionnels et associations</h3>

<div class="well">
  <h4>Qu'est ce que Végéclic ?</h4>
  <p style="text-align:justify">Végéclic est une boutique en ligne proposant des <strong>produits vegan</strong> (sans aucune matière animale), qui se démarque par son <strong>concept novateur inspiré du système des AMAPs.</strong> Nous proposons en effet des abonnements à des <strong>paniers thématiques</strong> (viandes végétales, bio, fromages végétaux, pratique...) ou <strong>personnalisables.</strong></p>
  <p style="text-align:justify">L'abonné peut soit se laisser séduire par un panier « surprise » qui varie à chaque échéance ou décider lui-même du contenu de celui-ci. Nos paniers sont composés à partir d'un <strong>large choix de produits</strong> qui ne fait qu'augmenter avec des <strong>prix dégressifs imbattables</strong>, en fonction de la durée de l'abonnement. Le but étant de faire découvrir la cuisine végétale à un plus grand nombre de personnes, de faciliter les débuts des personnes en transition alimentaire et de faire baisser les prix de nos fournisseurs afin de proposer des prix intéressants.</p>
</div>

<div class="well">
  <h4>Éthique et écologique </h4>
  <p style="text-align:justify">Afin de n'infliger aucune contrainte aux « Végéclic'eurs(-ses) », nos abonnements sont <strong>sans engagements</strong>, les paniers peuvent être modifiés en cours de route et les <strong>frais de port sont inclus</strong>. De plus Végéclic, étant géré par des personnes humaines et vegan, à pour but primordial <strong>le respect des êtres-vivants et de l'environnement.</strong> Nos produits sont donc garantis sans aucune exploitation animale, nous faisons des envois de colis regroupés pour <strong>limiter les émissions de CO<sub>2</sub></strong> et proposons l'envoi par point relais ou le retrait à domicile pour que cela soit <strong>plus économique et écologique.</strong></p>
  <p style="text-align:justify">Tout ceci nous permet de nous démarquer des boutiques « conventionnelles » c'est pour cela que ce <strong>concept simple, avantageux et éthique</strong> plaît à un nombre grandissant de personnes.
  </p>
</div>

<div class="well">
  <h4>Un espace reservé aux professionnels</h4>
  <p>Végéclic a développé son activité et propose désomais ses <strong>services aux professionnels et aux associations</strong>. Toujours avec l'optique de faire connaître la cuisine végétale et de la rendre accessible, nous avons souhaité collaborer avec les professionnels qui <strong>partagent nos valeurs.</strong>. Vous aurez ainsi accès à une <strong>interface facile à utiliser</strong> et d'un <strong>catalogue de produits adapté</strong>. Vous profiterez de <strong>notre experience</strong> dans l'alimentation végétale ainsi que de nos contacts. <strong>Simple et rapide</strong></p>
  <p>Nous proposons désormais les offres B to B suivantes :</p>
  <ul>
    <li><a href="{% url "pro_wholesaler" %}">Vente en gros des produits Végéclic pour les professionnels</a></li>
    <li><a href="{% url "pro_partners" %}">Offre de partenariat pour entreprises et associations</a></li>
  </ul>
  <p>Et d'autres sont encore à venir !</p>
</div>
{% endblock %}
