{% if object_list.paginator.num_pages > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% if object_list.has_previous %}
	{% if selected_product and view == "grid" %}
	  <li><a href="{% url "pro_catalog_grid_product_id_page" selected_product.id object_list.previous_page_number %}{% if search %}?search={{search}}{% endif %}">«</a></li>
	{% elif selected_product and view == "list" %}
	  <li><a href="{% url "pro_catalog_list_product_id_page" selected_product.id object_list.previous_page_number %}{% if search %}?search={{search}}{% endif %}">«</a></li>
	{% elif view == "grid" %}
	  <li><a href="{% url "pro_catalog_grid_page" object_list.previous_page_number %}{% if search %}?search={{search}}{% endif %}">«</a></li>
	{% elif view == "list" %}
	  <li><a href="{% url "pro_catalog_list_page" object_list.previous_page_number %}{% if search %}?search={{search}}{% endif %}">«</a></li>
	{% elif selected_product %}
	  <li><a href="{% url "pro_catalog_product_id_page" selected_product.id object_list.previous_page_number %}{% if search %}?search={{search}}{% endif %}">«</a></li>
	{% else %}
	  <li><a href="{% url "pro_catalog_page" object_list.previous_page_number %}{% if search %}?search={{search}}{% endif %}">«</a></li>
	{% endif %}
      {% else %}
	<li class="disabled"><a>«</a></li>
      {% endif %}

      {% for i in object_list.paginator.page_range %}
	{% if object_list.number == i %}
	  <li class="active"><a>{{i}}</a></li>
	{% else %}
	  {% if selected_product and view == "grid" %}
	    <li><a href="{% url "pro_catalog_grid_product_id_page" selected_product.id i %}{% if search %}?search={{search}}{% endif %}">{{i}}</a></li>
	  {% elif selected_product and view == "list" %}
	    <li><a href="{% url "pro_catalog_list_product_id_page" selected_product.id i %}{% if search %}?search={{search}}{% endif %}">{{i}}</a></li>
	  {% elif view == "grid" %}
	    <li><a href="{% url "pro_catalog_grid_page" i %}{% if search %}?search={{search}}{% endif %}">{{i}}</a></li>
	  {% elif view == "list" %}
	    <li><a href="{% url "pro_catalog_list_page" i %}{% if search %}?search={{search}}{% endif %}">{{i}}</a></li>
	  {% elif selected_product %}
	    <li><a href="{% url "pro_catalog_product_id_page" selected_product.id i %}{% if search %}?search={{search}}{% endif %}">{{i}}</a></li>
	  {% else %}
	    <li><a href="{% url "pro_catalog_page" i %}{% if search %}?search={{search}}{% endif %}">{{i}}</a></li>
	  {% endif %}
	{% endif %}
      {% endfor %}

      {% if object_list.has_next %}
	{% if selected_product and view == "grid" %}
	  <li><a href="{% url "pro_catalog_grid_product_id_page" selected_product.id object_list.next_page_number %}{% if search %}?search={{search}}{% endif %}">»</a></li>
	{% elif selected_product and view == "list" %}
	  <li><a href="{% url "pro_catalog_list_product_id_page" selected_product.id object_list.next_page_number %}{% if search %}?search={{search}}{% endif %}">»</a></li>
	{% elif view == "grid" %}
	  <li><a href="{% url "pro_catalog_grid_page" object_list.next_page_number %}{% if search %}?search={{search}}{% endif %}">»</a></li>
	{% elif view == "list" %}
	  <li><a href="{% url "pro_catalog_list_page" object_list.next_page_number %}{% if search %}?search={{search}}{% endif %}">»</a></li>
	{% elif selected_product %}
	  <li><a href="{% url "pro_catalog_product_id_page" selected_product.id object_list.next_page_number %}{% if search %}?search={{search}}{% endif %}">»</a></li>
	{% else %}
	  <li><a href="{% url "pro_catalog_page" object_list.next_page_number %}{% if search %}?search={{search}}{% endif %}">»</a></li>
	{% endif %}
      {% else %}
	<li class="disabled"><a>»</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
