{% extends "pro/base.html" %}
{% load i18n %}
{% load static %}

{% block sub_content %}
  <div class="text-center">
    <h3 class="alert alert-info">Offre de partenariat pour professionnels et associations</h3>
  </div>

  <div>
    <div class="well">
      <p style="text-align:justify"><strong>Vous êtes un professionnel ou une association qui se soucie du bien-être animal, de notre environnement et de notre santé ? Vous proposez des biens ou des services ne contribuant d'aucune manière à l'exploitation animale (nourriture, vêtements, loisir, sports...) ou vous soutenez une cause anti-spéciste ?</strong>
      </p>
      <p style="text-align:justify">Végéclic se propose alors de vous faire connaître auprès de ses abonnés à travers l'ajout de vos supports marketing divers (cartes de visites, flyers, dépliants, catalogues, magazines, dégustations, cadeaux...) dans nos paniers (des clients ayant accepté l'ajout de support marketing), de parler de vous dans nos newsletters, de rédiger un article à votre sujet dans notre blog, de mettre un lien sur notre site etc. N'hésitez pas également à nous proposez tout autre moyen pour vous faire connaître, nous traitons au cas par cas.
      </p>
      <p style="text-align:justify">Vous trouverez ci-dessous la liste des offres de partenariat que nous proposons:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-success">
	<div class="panel-heading">
          <h4 class="panel-title text-center">Découverte</h4>
	</div>
	<div class="panel-body" style="height:300px; text-align:justify">Une offre découverte sans frais vous permettant de vous faire connaître auprès d'une communauté toujours grandissante de personnes intéressées par le mode de vie 100 % végétal. Vos supports marketing sont ajoutés 1 fois aux paniers des abonnés du moment, nous ajoutons également un lien vers votre site sur le notre. En échange nous vous demandons un lien vers notre site et/ou un article sur notre concept.
	</div>
	<div class="panel-footer alert-success text-center">Gratuit
	</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
	<div class="panel-heading">
          <h4 class="panel-title text-center">Offre 3 mois</h4>
	</div>
	<div class="panel-body" style="height:300px; text-align:justify">Un abonnement de 3 mois vous permettant de profiter de l'intégration de vos supports marketing dans nos paniers d'abonnés. Vous profiterez ainsi de l'arrivée de tout nouveau membre/abonné durant cette période. Un lien est fait sur notre site et un article sur notre page Facebook.
	</div>
	<div class="panel-footer alert-info text-center">100 €*
	</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-warning">
	<div class="panel-heading">
          <h4 class="panel-title text-center">Offre 6 mois</h4>
	</div>
	<div class="panel-body" style="height:300px; text-align:justify">Un abonnement de 6 mois vous permettant de profiter de l'intégration de vos supports marketing dans nos paniers d'abonnés. Vous profiterez ainsi de l'arrivée de tout nouveau membre/abonné durant cette période. Un lien est fait sur notre site et un article sur notre page Facebook. Nous vous consacrerons un article sur notre blog.
	</div>
	<div class="panel-footer alert-warning text-center">180 €*
	</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-danger">
	<div class="panel-heading">
          <h4 class="panel-title text-center">Offre 1 an</h4>
	</div>
	<div class="panel-body" style="height:300px; text-align:justify">Un abonnement de 12 mois vous permettant de profiter de l'intégration de vos supports marketing dans nos paniers d'abonnés. Vous profiterez ainsi de l'arrivée de tout nouveau membre/abonné durant cette période. Un lien est fait sur notre site et un article sur notre page Facebook. Nous vous consacrerons un article sur notre blog. Nous parlerons également de votre offre ou vos actions dans notre newsletter qui regorge d'inscrits.
	</div>
	<div class="panel-footer alert-danger text-center">300 €*
	</div>
      </div>
    </div>
  </div>
  <p>* gratuit pour les associations.</p>
{% endblock %}
