{% load i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Végéclic - {% block section_title %}{% endblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
    {% comment %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/daemon.ico" />
    {% endcomment %}

    {#<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />#}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    {#<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" type="text/css" />#}
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    {#<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" />#}
    <style type="text/css">
      .navbar-nav li a { padding-top: 27px; padding-bottom: 27px; }
    </style>

    {% block head %}{% endblock %}
  </head>

  <body>
    {% include "nav.html" %}

    {% block header %}{% endblock %}

    <div class="{% block content_class %}container{% endblock %}">

      <div role="main">
	{% include "_messages.html" %}
	{% block content %}{% endblock %}
      </div> <!--/main -->

      {% include "footer.html" %}

    </div> <!--/.container -->

    {#<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>#}
    <script src="http://code.jquery.com/jquery.js"></script>

    {#<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>#}
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(function() {
	  $('.tooltip_link').tooltip();
      });
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30742049-1']);
      _gaq.push(['_trackPageview']);
      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    {% block foot %}{% endblock %}

    <script type="text/javascript">
      jQuery.ajaxSetup({cache: true});
      jQuery.getScript('https://static.jappix.com/php/get.php?l=fr&t=js&g=mini.xml', function() {
	  MINI_GROUPCHATS = ["vegeclic"];
	  MINI_ANIMATE = true;
	  MINI_RANDNICK = true;
	  launchMini(false, true, "anonymous.jappix.com");
      });
    </script>

    <style type="text/css">
      .jm_pane, .jm_chat-tab, .jm_position { height: 50px }
    </style>

  </body>
</html>

{#<pre>{% debug %}</pre>#}
