{% load i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Regular'com - {{ section }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
    {% comment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/daemon.ico" />
    {% endcomment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    {% block head %}{% endblock %}
  </head>

  <body>
    {% include "nav.html" %}

    {% block header %}{% endblock %}

    <div class="{% block content_class %}container{% endblock %}">

      <div role="main">
	{% include "_messages.html" %}
	{% block content %}{% endblock %}
      </div> <!--/main -->

      {% include "footer.html" %}

    </div> <!--/.container -->

    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>

{# {% comment %} #}
<pre>
    {% debug %}
</pre>
{# {% endcomment %} #}
