<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Django-Regularcom{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css" /> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" type="text/css" />
    <!-- <link rel="shortcut icon" href="{{ STATIC_URL }}ico/daemon.ico" /> -->
  </head>

  <body>
    {% include "nav.html" %}

    {% block header %}{% endblock %}

    <div class="{% block content_class %}container{% endblock %}">

      <div role="main">
	{% if messages %}
	  <div class="row">
	    <div class="span12">
	      {% for message in messages %}
		<div class="alert alert-{{message.tags}} fade in">
		  <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
		  <strong>{{message.tags|title}}:</strong> {{message}}
		</div>
	      {% endfor %}
	    </div><!-- end span -->
	  </div><!-- end row -->
	{% endif %}

	{% block content %}{% endblock %}
      </div>

      {% include "footer.html" %}

    </div> <!--/.container -->

    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
