{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block section_title %}{% trans "Boutique végétalienne avec paniers thématiques" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-9">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
	<div class="item active">
	  <a href="{% url "how" %}"><img src="{% static "intro.png" %}" alt="#"></a>
	</div>
	
	<div class="item">
	  <a href="{% url "article_slug" 25 "frais_de_port_en_baisse" %}"><img src="{% static "bannerfraisport.png" %}" alt="#"></a>
	</div>

	<div class="item">
	  <a href="{% url "catalog_grid_product_id_page" 9 1 %}"><img src="{% static "vetementetaccessoires.png" %}" alt="#"></a>
	</div>

	<div class="item">
	  <a href="{% url "create_thematic" %}"><img src="{% static "mix.png" %}" alt="#"></a>
	</div>

      </div>

      <a class="left carousel-control" href="#carousel" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </a>

      <a class="right carousel-control" href="#carousel" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </a>

      <ol class="carousel-indicators" style="bottom:-35px">
	<li data-target="#carousel" data-slide-to="0" class="active"></li>
	<li data-target="#carousel" data-slide-to="1"></li>
	<li data-target="#carousel" data-slide-to="2"></li>
	<li data-target="#carousel" data-slide-to="3"></li>
      </ol>

    </div>
  </div>

  <div class="col-md-3">
    <div style="background-image: url('{% static "banner.png" %}'); width: 280px; height:260px"></div>
  </div>
</div>

<br/>
<br/>

<div class="row">
  <div class="col-md-3 alert alert-danger">

    <div class="panel panel-warning">
      <div class="panel-heading">
	<h4 class="panel-title text-center" style="color:black">
	  En savoir plus sur nos colis ?
	</h4>
      </div>
      <div class="panel-body" style="text-align:justify">
	  <a href="{% url "article_slug" 13 "comment-sont-prepares-les-paniers-vegeclic" %}"><img style="margin-left: 30px" src="static/fraisportinclus.png"/></a>
      </div>
    </div>
    
    {% if cart_exemple %}
    <div class="panel panel-warning">
      <div class="panel-heading">
	<h4 class="panel-title text-center" style="color:black">
	  Le panier exemple de la semaine
	</h4>
      </div>
      <div class="panel-body text-center" style="text-align:justify">
         <a href="{% url "article_slug" cart_exemple.id cart_exemple.slug %}"><img class="img-thumbnail" src="{% get_media_prefix %}{{cart_exemple.thumb_image}}"/></a>
      </div>
    </div>
    {% endif %}

    <div class="panel panel-warning">
      <div class="panel-heading">
	<h4 class="panel-title text-center" style="color:black">
	  Découvrez nos offres pour PROFESSIONNELS !
	</h4>
      </div>
      <div class="panel-body" style="text-align:justify">
	  <a href="{% url "pro_home" %}"><img src="static/homepro.png"/></a>
      </div>
    </div>

    {% if last_recipe %}
    <div class="panel panel-warning">
      <div class="panel-heading">
	<h4 class="panel-title text-center" style="color:black">
	  La recette de la semaine
	</h4>
      </div>
      <div class="caption text-center" style="margin-top:5px">
	<a href="{% url "article_slug" last_recipe.id last_recipe.slug %}" style="text-decoration:none; color:black"><strong>{{ last_recipe.title }}</strong></a>
      </div>
      <div class="panel-body text-center">
	<a href="{% url "article_slug" last_recipe.id last_recipe.slug %}"><img class="img-thumbnail" src="{% get_media_prefix %}{{last_recipe.thumb_image}}"/></a>
      </div>
    </div>
    {% endif %}

    <div class="panel panel-warning">
      <div class="panel-heading">
	<h4 class="panel-title text-center" style="color:black">Derniers articles du blog</h4>
      </div>
      <div class="panel-body" style="text-align:justify">
	{% for article in last_articles|slice:":5"  %}
	<a href="{% url "article_slug" article.id article.slug %}"><span class="badge alert-warning" style="margin:5px">{{article.title|truncatechars:35}}</span></a>
	<br/>
	{% endfor %}
      </div>
    </div>

  </div>

  <div class="col-md-9">
  
<div class="panel-group" id="accordion">
  <div class="panel panel-danger">
    <div class="panel-heading">
        <a class="btn btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="label label-danger">Vidéo</span> Présentation de la boutique
        </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body text-center">
        <div id="embed1">Chargement de la video...</div>
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <a class="btn btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <span class="label label-danger">Vidéo</span> Comment faire un abonnement à un panier <strong>thématique</strong> ?
        </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body text-center">
        <div id="embed2">Chargement de la video...</div> 
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <a class="btn btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <span class="label label-danger">Vidéo</span> Comment faire un abonnement à un panier <strong>personnalisé</strong> ?
        </a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body text-center">
        <div id="embed3">Chargement de la video...</div> 
      </div>
    </div>
  </div>
</div>
  
    {% with c="cart" i=0 progress_value=0 current_progress_value=0 inverse_progress_value=100 %}

    <h2 class="text-center text-danger">Découvrez nos paniers</h2>

    <hr/>

    {% comment %}
    {% include "carts/create_all/header.html" %}
    {% endcomment %}
    {% endwith %}

    {% comment %}
    <form role="form" method="post" action="{% url "create_all" %}">
      {% csrf_token %}
      <input id="id_create_all-current_step" name="create_all-current_step" type="hidden" value="cart" />
    {% endcomment %}

      <div class="alert alert-warning" style="color:black">
	Vous pouvez choisir votre panier à thème parmi les choix ci-dessous ou composer votre propre panier en cliquant sur l'option « Composer votre propre panier ».
      </div>

      <div class="row">
	{% for thematic in thematic_list|dictsort:'order' %}
	  <div class="col-md-4 text-center" style="margin-top:40px">
	    <a class="btn btn-default btn-lg tooltip_link" href="{% url "create_thematic_id" thematic.id %}" title="{{thematic.body|truncatewords:20}}">
	      <img class="" src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}"/>
	    </a>
	  </div>
	{% endfor %}
      </div>

      <div class="text-center" style="margin: 30px">
	<span class="badge">ou</span>
      </div>

      <div class="text-center">
	<a class="btn btn-default btn-lg btn-block tooltip_link" href="{% url "create_custom" %}" title="Personnaliser votre panier">
	  <strong>Composer votre propre panier</strong>
	</a>
      </div>

      {% comment %}
      <div class="btn-group" data-toggle="buttons">
	{% for thematic in thematic_list|dictsort:'order' %}
	<label class="choice btn {% if thematic.id|floatformat == wizard.form.choice.value|floatformat %}btn-success active{% else %}btn-default{% endif %} btn-lg tooltip_link" style="width:280px" title="{{thematic.body|truncatewords:20}}">
	  <input type="radio" name="cart-choice" value="{{thematic.id}}" {% if thematic.id|floatformat == wizard.form.choice.value|floatformat %}checked="checked"{% endif %} />
	  <img src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" style="width:215px"/>
	</label>
	{% endfor %}

	<label class="btn btn-lg btn-block"><span class="badge">ou</span></label>
	<label class="choice btn {% if wizard.form.choice.value == "perso" %}btn-success active{% else %}btn-default{% endif %} btn-lg btn-block tooltip_link" title="Personnaliser votre panier">
	  <input type="radio" name="cart-choice" value="perso" {% if wizard.form.choice.value == "perso" %}checked="checked"{% endif %} />
	  <strong>Composer votre propre panier</strong>
	</label>
      </div>

      <br/>
      <br/>

      <div class="alert alert-warning" style="color:black">
	<strong>Prêt ?</strong> Cliquez sur « Suivant » pour continuer.
      </div>
      {% endcomment %}

      <hr/>

      {% comment %}
      <div class="form-group row" id="buttons">
	<div class="col-md-6">
	  <button class="btn btn-lg {% if wizard.steps.current == "resume" %}btn-success{% else %}btn-primary{% endif %} btn-block" type="submit" title="Cliquez ici pour confirmer et passer à l'étape suivante.">{% if wizard.steps.current == "resume" %}{% trans "Créer mon abonnement" %}{% else %}{% trans "Next" %}{% endif %}</button>
	</div>
	<div class="col-md-6">
	  <button class="btn btn-lg btn-default btn-block {% if not wizard.steps.prev %}disabled{% endif %}" name="wizard_goto_step" type="submit" title="Cliquez ici pour revenir à l'étape précédente." value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
	</div>
      </div>
      {% endcomment %}

    {% comment %}
    </form>
    {% endcomment %}

  </div>
</div>

<br/>

<div class="alert alert-warning">
  <h3 class="text-center">Le concept en quelques mots</h3>
  <br/>
  <p style="text-align:justify; color:darkslategray">
    Vous pouvez soit vous laisser séduire par <strong>un panier « surprise » qui varie à chaque échéance ou décider vous-même du contenu de celui-ci.</strong> Nos paniers sont composés à partir d'un large choix de produits qui ne fait qu'augmenter avec <strong>des prix dégressifs imbattables</strong>, en fonction de la durée de l'abonnement. Le but étant de faire découvrir la cuisine végétale à un plus grand nombre de personnes, de faciliter les débuts des personnes en transition alimentaire et de <strong>faire baisser les prix de nos fournisseurs</strong> pour vous proposer des prix intéressants.
  </p>
  <p style="text-align:justify; color:darkslategray">
    Afin de n'infliger aucune contrainte aux « Végéclic'eurs(ses) », nos abonnements sont <strong>sans engagements</strong>, les paniers peuvent être modifiés en cours de route et les <strong>frais de port sont inclus</strong>. De plus Végéclic, étant géré par des personnes humaines et vegan, à pour but primordial le respect des êtres-vivants et de l'environnement. Nos produits sont donc <strong>garantis sans aucune exploitation animale</strong>, nous faisons des envois de colis regroupés pour <strong>limiter les émissions de CO<sub>2</sub></strong> et proposons l'envoi par point relais ou le retrait à domicile pour que cela soit <strong>plus économique et écologique.</strong>
  </p>
  <p style="color:darkslategray">
    Pour comprendre le fonctionnement du site rendez-vous sur la page « <a href="{% url "how" %}">Comment ça marche ?</a> ».
  </p>
</div>

<div class="alert alert-info">
  Les envois de colis se font le mardi et sont livrés en 48-72h. Les colis contenant des produits frais seront envoyés avec accumulateur de froid et emballage isotherme.
</div>

{% endblock %}

{% block foot %}
  <script>
    $(function() {
	$('.choice').change(function() {
	    $('.choice').not($(this)).each(function() {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-default');
	    });
	    $(this).removeClass('btn-default');
	    $(this).addClass('btn-success');
	});
    });
  </script>

  <script>
    $(function() {
	$('.popover_link').popover('show');
	setTimeout(function() { $('.popover_link').popover('hide') }, 2000);
    });
  </script>
    
    <script>
        function embedVideo1(video) { document.getElementById('embed1').innerHTML = unescape(video.html); }
        function embedVideo2(video) { document.getElementById('embed2').innerHTML = unescape(video.html); }
        function embedVideo3(video) { document.getElementById('embed3').innerHTML = unescape(video.html); }
        
        $(function() {
            var userUrl = 'http://vimeo.com/user24937733/';
            var endpoint = 'http://www.vimeo.com/api/oembed.json';
            
            $([['presentationvegeclic', 'embedVideo1'],
               ['abonnementthematique', 'embedVideo2'],
               ['abonnementpersonnalise', 'embedVideo3']]).each(function() {
                    var js = document.createElement('script');
                    js.setAttribute('src', endpoint + '?url=' + encodeURIComponent(userUrl + $(this)[0]) + '&callback=' + $(this)[1] + '&width=435');
                    document.getElementsByTagName('head').item(0).appendChild(js);
            });
        });
    </script>
    
  <style>
    #buttons { overflow: hidden }
    #buttons .col-md-6 { float: right }
    .carousel-indicators li { border: 1px solid #000; }
    .carousel-indicators li.active { background-color: #000; }
  </style>
{% endblock %}
