{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block section_title %}{% trans "Boutique végétalienne avec paniers thématiques" %}{% endblock %}

{% block content %}
<!--<div class="alert alert-warning">
Pour recevoir un colis avant le 24 décembre 2013, les commandes doivent-être passées avant ce <strong>dimanche 15 décembre à 20h</strong>. Les commandes passées après cette date-là et avant le 22 décembre, ne seront envoyées qu'<strong>à partir du 2 janvier 2014</strong> étant donné les jours fériés et les délais de livraison pendant ces périodes de fêtes.
</div>-->

<div class="row">
  <div class="col-md-9">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
	  <a href="/blog/article/23/paniers-speciaux-saint-valentin/"><img src="{% static "panierstvalentin.png" %}" alt="#"></a>
	  {#<div class="carousel-caption">...</div>#}
	</div>
	<div class="item">
	  <a href="{% url "how" %}"><img src="{% static "intro.png" %}" alt="#"></a>
	  {#<div class="carousel-caption">...</div>#}
	</div>
	<!-- <div class="item">
	     <a href="{% url "create_thematic" %}"><img src="{% static "chrismasbanner.png" %}" alt="#"></a>
	     {#<div class="carousel-caption">...</div>#}
	</div>-->
	<div class="item">
	  <a href="{% url "catalog_grid_product_id_page" 9 1 %}"><img src="{% static "vetementetaccessoires.png" %}" alt="#"></a>
	  {#<div class="carousel-caption">...</div>#}
	</div>
	<div class="item">
	  <a href="{% url "create_thematic" %}"><img src="{% static "mix.png" %}" alt="#"></a>
	  {#<div class="carousel-caption">...</div>#}
	</div>
      </div>
      <a class="left carousel-control" href="#carousel" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      <ol class="carousel-indicators" style="bottom:-35px">
	<li data-target="#carousel" data-slide-to="0" class="active"></li>
	<li data-target="#carousel" data-slide-to="1"></li>
	<li data-target="#carousel" data-slide-to="2"></li>
	<li data-target="#carousel" data-slide-to="3"></li>
      </ol>
    </div>
  </div>
  <div class="col-md-3">
    <div style="background-image: url('{% static "banner.png" %}'); width: 280px; height:260px"></div>
  </div>
</div>

<br/>

{% comment %}
<div class="well">
  Nous vous proposant de <strong>créer un abonnement</strong> en <a href="{% url "create_thematic" %}">choisissant un de nos paniers thématiques</a> ou en <a href="{% url "create_custom" %}">composant vous même le contenu de votre panier</a>.
</div>

<div class="row">
  <div class="col-md-5">
    <a href="{% url "create_thematic" %}">
      <img class="tooltip_link" src="{% static "thematic_carts.png" %}" alt="Cliquez ici pour choisir un de nos paniers thématiques" title="Cliquez ici pour choisir un de nos paniers thématiques"/>
    </a>
  </div>

  <div class="col-md-2 text-center">
    <img src="{% static "or.png" %}" alt="Composer" title="Végéclic"/>
  </div>

  <div class="col-md-5">
    <a href="{% url "create_custom" %}">
      <img class="tooltip_link" src="{% static "custom_carts.png" %}" alt="Cliquez ici pour créer votre panier personnalisé" title="Cliquez ici pour créer votre panier personnalisé"/>
    </a>
  </div>
</div>
{% endcomment %}

<br/>

<div class="row">
  <div class="col-md-3 alert alert-danger">
  
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title text-center" style="color:black">
          En savoir plus sur nos colis ?
        </h4>
      </div>
      <div class="panel-body" style="text-align:justify">
          <a href="blog/article/13/comment-sont-prepares-les-paniers-vegeclic/"><img style="margin-left: 30px" src="static/fraisportinclus.png"/></a>
      </div>
    </div>
{% comment %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title text-center" style="color:black">
          Un exemple de panier par semaine
        </h4>
      </div>
      <div class="panel-body" style="text-align:justify">
          
      </div>
    </div>  
{% endcomment %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title text-center" style="color:black">
          Découvrez nos offres pour PROFESSIONNELS !
        </h4>
      </div>
      <div class="panel-body" style="text-align:justify">
          <a href="{% url "pro_home" %}"><img src="static/homepro.png"/></a>
      </div>
    </div>
    
    {% if last_recipe %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title text-center" style="color:black">
          La recette de la semaine
        </h4>
      </div>
      <div class="panel-body text-center">
        <a href="{% url "article_slug" last_recipe.id last_recipe.slug %}"><img class="img-thumbnail" src="{% get_media_prefix %}{{last_recipe.thumb_image}}"/></a>
      </div>
      <div class="caption">
        <a href="{% url "article_slug" last_recipe.id last_recipe.slug %}" style="text-decoration:none; color:black">{{ object.title }}</a>
      </div>
    </div>
    {% endif %}

    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title text-center" style="color:black">Derniers articles du blog</h4>
      </div>
      <div class="panel-body" style="text-align:justify">
        {% for article in last_articles|slice:":5"  %}
        <a href="{% url "article_slug" article.id article.slug %}"><span class="badge alert-warning" style="margin:5px">{{article.title|truncatechars:35}}</span></a>
        <br/>
        {% endfor %}
      </div>
    </div>  
  </div>

  <div class="col-md-9">
    {% with c="cart" i=0 progress_value=0 current_progress_value=0 inverse_progress_value=100 %}

    <h2 class="text-center text-danger">Découvrez nos paniers</h2>

    <hr/>

    {% comment %}
    {% include "carts/create_all/header.html" %}
    {% endcomment %}
    {% endwith %}
    
    <form role="form" method="post" action="{% url "create_all" %}">
      {% csrf_token %}
      <input id="id_create_all-current_step" name="create_all-current_step" type="hidden" value="cart" />

      <div class="alert alert-warning" style="color:black">
	Vous pouvez choisir votre panier à thème parmi les choix ci-dessous ou composer votre propre panier en cliquant sur l'option « Personnaliser ».
      </div>

      <div class="btn-group" data-toggle="buttons" style="width:848px">
	{% for thematic in thematic_list|dictsort:'order' %}
	<label class="choice btn {% if thematic.id|floatformat == wizard.form.choice.value|floatformat %}btn-success active{% else %}btn-default{% endif %} btn-lg tooltip_link" style="width:280px" title="{{thematic.body|truncatewords:20}}">
	  <input type="radio" name="cart-choice" value="{{thematic.id}}" {% if thematic.id|floatformat == wizard.form.choice.value|floatformat %}checked="checked"{% endif %} />
	  <img src="{% get_media_prefix %}{{thematic.main_image}}" alt="{{thematic.name}}" style="width:215px"/>
	</label>
	{% endfor %}

	<label class="btn btn-lg btn-block"><span class="badge">ou</span></label>
	<label class="choice btn {% if wizard.form.choice.value == "perso" %}btn-success active{% else %}btn-default{% endif %} btn-lg btn-block tooltip_link" title="Personnaliser votre panier">
	  <input type="radio" name="cart-choice" value="perso" {% if wizard.form.choice.value == "perso" %}checked="checked"{% endif %} />        <strong>Composer votre propre panier</strong>
	</label>
      </div>

      <br/>
      <br/>

      <div class="alert alert-warning" style="color:black">
	<strong>Prêt ?</strong> Cliquez sur « Suivant » pour continuer.
      </div>
      <hr/>

      <div class="form-group row" id="buttons">
        <div class="col-md-6">
          <button class="btn btn-lg {% if wizard.steps.current == "resume" %}btn-success{% else %}btn-primary{% endif %} btn-block" type="submit" title="Cliquez ici pour confirmer et passer à l'étape suivante.">{% if wizard.steps.current == "resume" %}{% trans "Créer mon abonnement" %}{% else %}{% trans "Next" %}{% endif %}</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-lg btn-default btn-block {% if not wizard.steps.prev %}disabled{% endif %}" name="wizard_goto_step" type="submit" title="Cliquez ici pour revenir à l'étape précédente." value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<br/>
<br/>
<div class="alert alert-warning">
  <h3 class="text-center">Le concept en quelques mots</h3>
  <br/>
  <p style="text-align:justify; color:darkslategray">Vous pouvez soit vous laisser séduire par <strong>un panier « surprise » qui varie à chaque échéance ou décider vous-même du contenu de celui-ci.</strong> Nos paniers sont composés à partir d'un large choix de produits qui ne fait qu'augmenter avec <strong>des prix dégressifs imbattables</strong>, en fonction de la durée de l'abonnement. Le but étant de faire découvrir la cuisine végétale à un plus grand nombre de personnes, de faciliter les débuts des personnes en transition alimentaire et de <strong>faire baisser les prix de nos fournisseurs</strong> pour vous proposer des prix intéressants</p>
  <p style="text-align:justify; color:darkslategray">Afin de n'infliger aucune contrainte aux « Végéclic'eurs(ses) », nos abonnements sont <strong>sans engagements</strong>, les paniers peuvent être modifiés en cours de route et les <strong>frais de port sont inclus</strong>. De plus Végéclic, étant géré par des personnes humaines et vegan, à pour but primordial le respect des êtres-vivants et de l'environnement. Nos produits sont donc <strong>garantis sans aucune exploitation animale</strong>, nous faisons des envois de colis regroupés pour <strong>limiter les émissions de CO<sub>2</sub></strong> et proposons l'envoi par point relais ou le retrait à domicile pour que cela soit <strong>plus économique et écologique.</strong></p>
  <p style="color:darkslategray"> Pour comprendre le fonctionnement du site rendez-vous sur la page « <a href="{% url "how" %}">Comment ça marche ?</a> ».
</div>

<div class="alert alert-info">
  Les envois de colis se font le mardi et sont livrés en 48-72h. Les colis contenant des produits frais seront envoyés avec accumulateur de froid et emballage isotherme.
</div>

{% endblock %}

{% block foot %}
<style type="text/css">
.carousel-indicators li {
  border: 1px solid #000;
}

.carousel-indicators li.active {
  background-color: #000;
}
</style>

  <script type="text/javascript">
    $(function() {
	$('.choice').change(function() {
	    $('.choice').not($(this)).each(function() {
		$(this).removeClass('btn-success');
		$(this).addClass('btn-default');
	    });
	    $(this).removeClass('btn-default');
	    $(this).addClass('btn-success');
	});
    });
  </script>

  <script type="text/javascript">
    $(function() {
	$('.popover_link').popover('show');
	setTimeout(function() { $('.popover_link').popover('hide') }, 2000);
    });
  </script>

  <style type="text/css">
    #buttons { overflow: hidden }
    #buttons .col-md-6 { float: right }
  </style>
{% endblock %}
