{% load i18n %}
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      {% comment %}
      <a class="brand" href="#">
      <img src="{{ STATIC_URL }}ico/daemon.ico" style="width: 20px;"/> &nbsp;
      </a>
      {% endcomment %}
      <a class="brand" href="{% url 'home' %}">Regular'com</a>
      <div class="nav-collapse collapse">
	<ul class="nav">
    	  {% block menu %}
            <li {% if not section or section == 'home' %}class="active"{% endif %}><a href="{% url 'home' %}"><i class="icon-home"></i> {% trans "Presentation" %}</a></li>
	    {% if user.is_authenticated %}
	      <li {% if section == 'profile' %}class="active"{% endif %}><a href="{% url 'profile' %}"><i class="icon-user"></i> {% trans "Profile" %}</a></li>
	      <li {% if section == 'mailbox' %}class="active"{% endif %}><a href="{% url 'messages' %}"><i class="icon-envelope"></i> {% trans "Mailbox" %} {% if nb_messages %}<strong>({{nb_messages}})</strong>{% endif %}</a></li>
	      <li {% if section == 'wallet' %}class="active"{% endif %}><a href="{% url 'balance' %}"><i class="icon-briefcase"></i> {% trans "Wallet" %} <strong>({{wallet.balance_in_target_currency|floatformat}} {{wallet.target_currency.symbol}})</strong></a></li>
	      <li {% if section == 'cart' %}class="active"{% endif %}><a href="{% url 'subscriptions' %}"><i class="icon-shopping-cart"></i> {% trans "Carts" %}</a></li>
	      <li {% if section == 'logout' %}class="active"{% endif %}><a href="{% url 'logout' %}"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
	    {% else %}
	      <li {% if section == 'login' %}class="active"{% endif %}><a href="{% url 'login' %}"><i class="icon-lock"></i> {% trans "Login" %}</a></li>
	      <li {% if section == 'signup' %}class="active"{% endif %}><a href="{% url 'signup' %}"><i class="icon-plus-sign"></i> {% trans "Signup" %}</a></li>
	    {% endif %}
	  {% endblock menu %}
	</ul>
      </div> <!--/.nav-collapse -->
    </div> <!--./container -->
  </div> <!--./navbar-inner -->
</header> <!--/.navbar -->
