{% load i18n %}
{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "logo_inline.png" %}" alt="Végéclic" title="Végéclic"/></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
    	{% block menu %}
          
	  <li {% if section == 'catalog' %}class="active"{% endif %}>
	    <a href="{% url 'catalog_grid_page' 1 %}"><i class="glyphicon glyphicon-barcode"></i> {% trans "Catalog" %}</a>
	  </li>
	  <li {% if section == 'blog' %}class="active"{% endif %}>
	    <a href="{% url "blog" %}"><i class="glyphicon glyphicon-picture"></i> {% trans "Blog" %}</a>
	  </li>
	  {% if user.is_authenticated %}
	    <li {% if section == 'cart' %}class="active"{% endif %}>
	      <a href="{% url 'subscriptions' 1 %}"><i class="glyphicon glyphicon-shopping-cart"></i> {% trans "Carts" %} {% if nb_subscriptions %}<span class="badge">{{nb_subscriptions}}</span>{% endif %}</a>
	    </li>
	    <li {% if section == 'wallet' %}class="active"{% endif %}>
	      <a href="{% url 'balance' %}"><i class="glyphicon glyphicon-briefcase"></i> {% trans "Wallet" %} <span class="badge">{{wallet.balance_in_target_currency|floatformat}} {{wallet.target_currency.symbol}}</span></a>
	    </li>
	    <li {% if section == 'mailbox' %}class="active"{% endif %}>
	      <a href="{% url 'messages' 1 %}"><i class="glyphicon glyphicon-envelope"></i> {% trans "Mailbox" %} {% if nb_messages %}<span class="badge">{{nb_messages}}</span>{% endif %}</a>
	    </li>
	    
	    <li {% if section == 'customers' %}class="active"{% endif %}>
	      <a href="{% url 'profile' %}"><i class="tooltip_link glyphicon glyphicon-user" title="{% trans "Profile" %}"></i></a>
	    </li>
	    <li {% if section == 'how' %}class="active"{% endif %}>
	      <a href="{% url 'how' %}"><i class="tooltip_link glyphicon glyphicon-info-sign" title="{% trans "How" %}"></i></a>
	    </li>
	    <li {% if section == 'logout' %}class="active"{% endif %}>
	      <a href="{% url 'logout' %}"><i class="tooltip_link glyphicon glyphicon-off" title="{% trans "Logout" %}"></i></a>
	    </li>
	  {% else %}
	    <li {% if section == 'how' %}class="active"{% endif %}>
	      <a href="{% url 'how' %}"><i class="glyphicon glyphicon-info-sign" title="{% trans "How" %}"></i> {% trans "How" %}</a>
	    </li>
	    <li {% if section == 'login' %}class="active"{% endif %}>
	      <a href="{% url 'login' %}"><i class="glyphicon glyphicon-lock"></i> {% trans "Login" %}</a>
	    </li>
	    <li {% if section == 'signup' %}class="active"{% endif %}>
	      <a href="{% url 'signup' %}"><i class="glyphicon glyphicon-plus-sign"></i> {% trans "Signup" %}</a>
	    </li>
	  {% endif %}
	{% endblock menu %}
      </ul>
    </div> <!--/.navbar-collapse -->
  </div> <!--./container -->
</nav> <!--/.navbar -->
