{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load cache %}

{% block head %}
  {#<link rel="stylesheet" href="{% static "suppliers/css/styles.css" %}" />#}
  {#<link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />#}
{% endblock %}

{% block section_title %}{% trans "Catalog" %}{% endblock %}

{% block content %}
  <div class="row">

    {#{% cache 3600 catalog_sidebar %}#}
    <div class="col-md-5">
      <div class="well sidebar-nav">
	<ul class="media-list">
	  <li class="media">
	    <span class="pull-left">
	      <img class="media-object img-thumbnail" style="width:35px; height:35px"/>
	    </span>
	    <div class="media-body">
	      <a class="btn {% if not selected_product %}active btn-primary{% endif %}" href="{% if view == "list" %}{% url "catalog_list_page" 1 %}{% else %}{% url "catalog_grid_page" 1 %}{% endif %}">
		{% trans "All products" %}
	      </a>
	      <ul class="media-list" style="margin-top:10px">
		{% for product, products in products_tree.items %}
		  {% with product=product products=products %}
		    {% include "suppliers/products_tree.html" %}
		  {% endwith %}
		{% endfor %}
	      </ul>
	    </div>
	  </li>
	</ul>
      </div>
    </div>
    {#{% endcache %}#}

    <div class="col-md-7">
      <ul class="nav nav-tabs pull-right">
	{% if view == "grid" %}
	  <li class="active"><a>{% trans "Grid" %}</a></li>
	{% else %}
	  {% if selected_product %}
	    <li><a href="{% url "catalog_grid_product_id_page" selected_product.id object_list.number %}">{% trans "Grid" %}</a></li>
	  {% else %}
	    <li><a href="{% url "catalog_grid_page" object_list.number %}">{% trans "Grid" %}</a></li>
	  {% endif %}
	{% endif %}

	{% if view == "list" %}
	  <li class="active"><a>{% trans "List" %}</a></li>
	{% else %}
	  {% if selected_product %}
	    <li><a href="{% url "catalog_list_product_id_page" selected_product.id object_list.number %}">{% trans "List" %}</a></li>
	  {% else %}
	    <li><a href="{% url "catalog_list_page" object_list.number %}">{% trans "List" %}</a></li>
	  {% endif %}
	{% endif %}
      </ul>

      <h2>{% trans "Our suppliers products" %}</h2>

      {% with product_path=product_path selected_product=selected_product view=view %}
	{% include "suppliers/product_path.html" %}
      {% endwith %}

      {% with object_list=object_list selected_product=selected_product view=view %}
	{% include "suppliers/pagination.html" %}
      {% endwith %}

      <div class="{% if view == "grid" %}row{% endif %}">
	{% for product in object_list|dictsortreversed:"date_created" %}
	  {% if view == "list" %}
	    <div style="margin-bottom:80px;">
	      <div class="panel panel-default">
		<div class="panel-heading"><a class="tooltip_link" href="#modal_{{product.id}}" role="button" data-toggle="modal" title="{% trans "read more about" %} {{product}}"><h4>{{product.name}}</h4></a></div>
		<div class="panel-body">
		  <div class="media">
		    <a class="pull-left" href="#modal_{{product.id}}" role="button" data-toggle="modal">
		      <img class="media-object img-thumbnail tooltip_link" src="{% get_media_prefix %}{{product.main_image}}" alt="{{product.name}}" title="{% trans "read more about" %} {{product}}" style="width:90px"/>
		    </a>
		    <div class="media-body">
		      {{product.body|truncatewords:45}}
		    </div>
		  </div>
		</div>
		<div class="panel-footer pull-right">
		  <span>{{product.price}}</span>
		  <span>({{product.degressive_price|floatformat}} {{product.price.currency.symbol}})</span>
		  <a href="#modal_{{product.id}}" role="button" data-toggle="modal" class="btn btn-link tooltip_link" title="{% trans "read more about" %} {{product}}"><i class="glyphicon glyphicon-info-sign"></i> {% trans "more" %}</a>
		</div>
	      </div>
	    </div>
	  {% else %}
	    <div class="col-sm-8 col-md-4" style="margin-bottom:40px;">
	      <div class="panel panel-default">
		<div class="panel-heading" style="height: 80px"><a class="tooltip_link" href="#modal_{{product.id}}" role="button" data-toggle="modal" title="{% trans "read more about" %} {{product}}"><h4>{{product.name}}</h4></a></div>
		<div class="panel-body">
		  <a href="#modal_{{product.id}}" role="button" data-toggle="modal">
		    <img class="tooltip_link" src="{% get_media_prefix %}{{product.main_image}}" alt="{{product.name}}" title="{% trans "read more about" %} {{product}}" style="width:170px; height:160px"/>
		  </a>
		</div>
		<div class="panel-footer pull-right">
		  <span>{{product.price}}</span>
		  <span>({{product.degressive_price|floatformat}} {{product.price.currency.symbol}})</span>
		  <a href="#modal_{{product.id}}" role="button" data-toggle="modal" class="btn btn-link tooltip_link" title="{% trans "read more about" %} {{product}}"><i class="glyphicon glyphicon-info-sign"></i> {% trans "more" %}</a>
		</div>
	      </div>
	    </div>
	  {% endif %}

	  <!-- Modal -->
	  <div id="modal_{{product.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_{{product.id}}_label" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h2 id="modal_{{product.id}}_label">{{product.name}}</h2>
		</div>
		<div class="modal-body">
		  <a class="pull-right" href="#">
		    <img class="media-object img-thumbnail" src="{% get_media_prefix %}{{product.main_image}}" alt="128x128" style="width: 128px; height: 128px; margin-left: 20px; margin-bottom: 20px"/>
		  </a>

		  {% comment %}
		  <h4>Status</h4>
		  <p>{{product.get_status_display}}</p>
		  {% endcomment %}

		  <h3>{% trans "Description" %}</h3>
		  <p style="text-align:justify">{{product.body}}</p>

		  <h3>{% trans "Ingredients" %}</h3>
		  <p style="text-align:justify">{{product.ingredients}}</p>

		  <h3>{% trans "Suppliers" %}</h3>
		  <p>{% for supplier in product.suppliers.all %}{{supplier}}, {% endfor %}</p>
		</div>
		<div class="modal-footer">
		  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	      </div>
	    </div>
	  </div>

	{% endfor %}
      </div>

      {% with object_list=object_list selected_product=selected_product view=view %}
	{% include "suppliers/pagination.html" %}
      {% endwith %}

      {% with product_path=product_path selected_product=selected_product view=view %}
	{% include "suppliers/product_path.html" %}
      {% endwith %}

    </div>

  </div> <!--/.row-fluid -->
{% endblock %}
