{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  {#<link rel="stylesheet" href="{% static "suppliers/css/styles.css" %}" />#}
  {#<link rel="stylesheet" href="{% static "jqueryui/themes/base/jquery.ui.all.css" %}" />#}
{% endblock %}

{% block page_title %}{% trans "Catalog" %}{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-md-5">
      <div class="well sidebar-nav">
	<ul class="nav-pills nav-stacked">
	  <li class="{% if not selected_product %}active{% endif %}">
	    <a href="{% url "catalog" %}">{% trans "All products" %}</a>
	    <ul class="nav-pills nav-stacked">
	      {% for product, products in products_tree.items %}
		{% with product=product products=products %}
		  {% include "suppliers/products_tree.html" %}
		{% endwith %}
	      {% endfor %}
	    </ul>
	  </li>
	</ul>
      </div>
    </div>

    <div class="col-md-7">
      <h2>{% trans "Our suppliers products" %}</h2>

      {% with object_list=object_list selected_product=selected_product %}
	{% include "suppliers/pagination.html" %}
      {% endwith %}

      <div class="row">
	{% for product in object_list|dictsortreversed:"date_created" %}
	  <div class="col-sm-8 col-md-4" style="margin-bottom:40px;">
	      <div class="panel panel-default">
		<div class="panel-heading" style="height: 100px"><h4>{{product.name}}</h4></div>
		<div class="panel-body">
		  <a href="#{{product.id}}"><img class="" src="{% get_media_prefix %}{{product.main_image}}" alt="{{product.name}}" title="{{product.name}}" style="width:170px; height:160px"/></a>
		  <!-- <div class="pull-right"><span class="badge">{{product.price}}</span></div> -->
		</div>
		<div class="panel-footer pull-right">{{product.price}}</div>
	    </div>
	  </div>
	{% endfor %}
      </div>

      {% with object_list=object_list selected_product=selected_product %}
	{% include "suppliers/pagination.html" %}
      {% endwith %}

    </div>

  </div> <!--/.row-fluid -->
{% endblock %}
