{% if object_list.paginator.num_pages > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% if object_list.has_previous %}
	<li><a href="{% if selected_product %}{% url "catalog_product_id_page" selected_product.id object_list.previous_page_number %}{% else %}{% url "catalog_page" object_list.previous_page_number %}{% endif %}">«</a></li>
      {% else %}
	<li class="disabled"><a>«</a></li>
      {% endif %}

      {% for i in object_list.paginator.page_range %}
	{% if object_list.number == i %}
	  <li class="active"><a>{{i}}</a></li>
	{% else %}
	  <li><a href="{% if selected_product %}{% url "catalog_product_id_page" selected_product.id i %}{% else %}{% url "catalog_page" i %}{% endif %}">{{i}}</a></li>
	{% endif %}
      {% endfor %}

      {% if object_list.has_next %}
	<li><a href="{% if selected_product %}{% url "catalog_product_id_page" selected_product.id object_list.next_page_number %}{% else %}{% url "catalog_page" object_list.next_page_number %}{% endif %}">»</a></li>
      {% else %}
	<li class="disabled"><a>»</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
